section(role="main")#intro-section
  .container
    .row
      .col-md-8.col-md-offset-3
        .intro-text.margin-bottom-0
          h1.work-sans.title.intro-title.margin-bottom-0 About

    .row
      .col-xs-12.col-md-8.col-md-offset-3.center 
            img(src="{{site.baseurl}}/img/about/profile-about.jpg", alt="Rafael in the Horse Shoe Bent, Arizona").img-fluid

  .container
    .row
      .col-md-8.col-md-offset-3
        .intro-text
          p I’m Rafael Medina, a product designer and front-end developer currently based in Santo Domingo, Dominican Republic. Much of my focus is spent thinking through design systems, designing interfaces, and coding deep into the night.
