section(role="main")#about-section
  .row
    .col-md-12
      h2.section-title me
  .row.bottom-md
    .col-md-12
      .intro-text
        p.title
          | I'm a 22 years old designer, coder and digital artist. I'm self–taught and constantly learning. I speak english and spanish fluently.
