section(role="main")#intro-section
  .container
    .row
      .col-md-4
      .col-md-8
        .intro-text
          h1.circular.title.intro-title
            span.black-3 About
          p
            | I’m a 22 years old product designer currently based in the beautiful island of Santo Domingo. Much of my focus is spent thinking through design systems, designing interfaces, and coding deep into the night.
