section(role="main")#intro-section
  .container
    .row
      .col-md-4
      .col-md-8
        .intro-text
          h1.work-sans.title.intro-title
            span.black-3 About
          p
            | I’m Rafael Medina, a product designer and frontend developer currently based in the beautiful island of Santo Domingo. Much of my focus is spent thinking through design systems, designing interfaces, and coding deep into the night.

section(role="main")#intro-section
  .container
    .row
      .col-xs-6.col-md-4
        .col-sx-12
          img(src="{{site.baseurl}}/img/about/image-feed_7.jpg", alt="")
        .col-sx-12
          img(src="{{site.baseurl}}/img/about/image-feed_5.jpg", alt="")
      .col-xs-6.col-md-4
        .col-sx-12
          img(src="{{site.baseurl}}/img/about/image-feed_8.jpg", alt="")
        .col-sx-12
          img(src="{{site.baseurl}}/img/about/image-feed_3-2.jpg", alt="")
      .col-xs-6.col-md-4.hidden-xs
        .col-sx-12
          img(src="{{site.baseurl}}/img/about/image-feed_10.jpg", alt="")
        .col-sx-12
          img(src="{{site.baseurl}}/img/about/image-feed_4.jpg", alt="")
