section(role="main")#intro-section
  .row
    .col-md-3
    .col-md-8
      .intro-text
        h1.circular.title.intro-title
          span.black-3 About
        p
          | I’m a product designer happily living in Santo Domingo, RD. Much of my focus is spent thinking through design systems, designing interfaces, and coding deep into the night.
        
