section(role='main')#intro-section
  .container
    .row
      .col-md-8.col-md-offset-3
        .intro-text
          h1.work-sans.title.intro-title
            span.color-3 Bookshelf.
            br
          p
            | I'm always trying to read and learn about new design subjects. These are some of my favorites. Most of these are not design related, but they had an impact on my way of thinking and overall career.
