section(role='main')#intro-section
  .container
    .row
      .col-md-8.col-md-offset-4
        .intro-text
          h1.work-sans.title.intro-title
            span.color-3 Bookshelf.
            br
          p
            | People often ask me what books they should read to learn about design subjects.
            | These are some of my favorites. Most of these are not design related but they had an impact on my way of thinking.
