section(role="main").margin-bottom-75
  .container
    .row
      .col-md-8.col-md-offset-3.col-sx-12
        .intro-text
          h1.work-sans.title.intro-title.color-0 Clean CRM
        p Management product for cleaning service companies. Smoothly administrating all the customers, bookings, quotes and employees on a cleaning service company.


article(role="article").no-margin-bottom.margin-top-50
  .container
    .row
      .col-xs-12.col-md-12
        img(src="/img/work/cleancrm/crm-header.jpg", alt="intro crm").no-margin-bottom


article(role="article").no-margin-top
  hr
  .container.margin-top-25
    .row
      .col-md-3
        .row
          p
          .col-xs-3
            h2.section-description.muted.no-margin Name
          .col-xs-6
            h2.section-description.no-margin Clean CRM
        .row
          .col-xs-3
            h2.section-description.muted.no-margin Year
          .col-xs-6
            h2.section-description.no-margin 2016 — 2017
        .row
          .col-xs-3
            h2.section-description.muted.no-margin Role
          .col-xs-6
            h2.section-description.no-margin Designer
        .row
          .col-xs-3
            h2.section-description.muted.no-margin Time
          .col-xs-6
            h2.section-description.no-margin 8 weeks
            
      .col-md-9
        p 
        p I partnered up with an NYC Cleaning Service company wanting to automate their services. They had a non-functioning MVP and a clear goal before reaching out. 
      
        p  The application that they were using previously failed to adapt to the increasingly complex demands of new features to support a growing cleaning service company. 
        p The company used another a third party software service that even though offered data about bookings and quotes, was missing the customer features and a way to keep everything organized.
        .row
          .col-md-12.margin-bottom-50
            img(src="/img/work/cleancrm/old-dashboards.jpg", alt="old dashboards")
            
            
article(role="article").margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title RESEARCH
      .col-md-9
        p
        p We tried to be effective during our research phase, making it short and useful. We gathered data from user feedback, reports, and competitive analysis. We continued to create assumptions that we later validated with surveys and interviews of the staff.
        p The client and staff had needs, but customers too. Trying to get those goals aligned to scoping which features would be useful to them, what goals do they need to accomplish as a Staff and what are the customer needs and desires.
        .margin-top-25
        
          //- .row
          //-   .col-xs-12.col-md-12
          //-     img(src="/img/work/cleancrm/user-task-flow.jpg", alt="user flow")
          
article(role="article").margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title Persona Development
      .col-md-9
        p
        p Our users are admins, they work in the doing customer support for the cleaning service company. They should take calls from client complains, take the information down and make decisions like provide refunds, assign new cleaners, create assignments and give them rewards. Their role is to assist the customer with all their needs, have a clear and fast understanding of the complete the company.
        p To test our ideas and hypothesis, we created some profiles of the often employees. Testing helped understand possible scenarios and to see which functions could be useful.
        p We also created profiles of the customers and their needs and goals, even though they are not using the application. Having a perspective of their goals is what is going to drive us to make a useful product.
        
        .margin-top-25
        
          //- .row
          //-   .col-xs-12.col-md-12
          //-     img(src="/img/work/cleancrm/user-task-flow.jpg", alt="user flow")


article(role="article").margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title User Task Flow
      .col-md-9
        p
        p Task flows helped us to think through the design before a feature is actually developed. It helped us to interject the user into the flow model of the application to determine if it matches conceptually with what we need.
        .margin-top-25
        
          .row
            .col-xs-12.col-md-12
              img(src="/img/work/cleancrm/user-task-flow.jpg", alt="user flow")


article(role="article").no-margin.margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title.margin-bottom-25 COMPETITIVE RESEARCH
      .col-md-9
        p
        p It is essential to look into other players on the market and understand the products that we are going to compete. We have two main categories in the direct competition, software companies who offer the service and other traditional cleaning service companies.
        p In the end, we agreed on creating a Saas Product to spread the business goals offering a CRM tool for small-medium size cleaning service companies.
        h2
        p Metrics for the competitive analysis:
        p • User Goals and Product Goals
        p • Areas and locations of service
        p • Customer retention & opinions
        p • Marketing Investment

        .row
          .col-xs-6.col-md-3.center
            img(src="/img/work/cleancrm/logo-1.jpg", alt="competitors")
          .col-xs-6.col-md-3.center
            img(src="/img/work/cleancrm/logo-2.jpg", alt="competitors")
          .col-xs-6.col-md-3
            img(src="/img/work/cleancrm/logo-3.jpg", alt="competitors")
          .col-xs-6.col-md-3
            img(src="/img/work/cleancrm/logo-4.jpg", alt="competitors")

        .row
          .col-md-12
            img(src="/img/work/cleancrm/gmaps-competition2.jpg", alt="competitors").shadow-1


article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title SCOPE
      .col-md-9
        p
        p As a small company, time and budget require fast turnaround and control. I worked closely with developers from different parts of the world to bring the platform to life. For that, we needed to manage time and constraints, Manage time and scope is harder than it sounds. We kept spreadsheets of flows and features and Trello boards of the needs and sprints of work.
        
        p List of screens from screen map:

        p • Specify features for each screen
        p • Assign priorities Must-have (First release) Nice to have (Next Release)
        p • Fill in development time estimates
                
        .margin-top-25
          .row
            .col-xs-12.col-md-12
              img(src="/img/work/cleancrm/scope.jpg", alt="Scope spreadsheet")




article(role="article").margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title SCREEN MAPPING
      .col-md-9
        p
        p Having a whole view of all screens and screen states helps to manage and have everything tidy and organized for next iterations. For that I use tools like MindNode since is faster and everyone can contribute.
        p  We tried to keep this document alive by keeping it in sync with the Scope of the application and the amount of features they represent.
        .margin-top-25
        
          .row
            .col-xs-12.col-md-12
              img(src="/img/work/cleancrm/screen-map-2.jpg", alt="screen maps")


article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title GRID SYSTEM
      .col-md-9
        p
        p A consistent grid help designers lay out UI quickly and consistently and consequently developers to create components the same way. I used an 8pt soft grid based on Android Material, scaling spaces and components from 4, 8, 16, 24 and alike. Also using a column and height grid to keep a visual rhythm into the application.
        .margin-top-25
          .row
            .col-xs-12.col-md-8  
              svg(xmlns='http://www.w3.org/2000/svg', width='393', height='229', viewbox='0 0 393 229')
                g(fill='none', fill-rule='evenodd', transform='translate(0 -1)')
                g(fill='#FF9797', transform='translate(0 2)')
                  rect(width='272.454', height='85', x='.546', fill-opacity='.495', opacity='.2')
                  rect(width='272.454', height='85', x='.546', fill-opacity='.495', opacity='.2')
                  rect(width='14.742', height='85', fill-opacity='.75')
                  rect(width='14.742', height='85', x='23.478', fill-opacity='.495')
                  rect(width='14.742', height='85', x='46.956', fill-opacity='.495')
                  rect(width='14.742', height='85', x='70.434', fill-opacity='.495')
                  rect(width='14.742', height='85', x='93.912', fill-opacity='.495')
                  rect(width='14.742', height='85', x='117.39', fill-opacity='.495')
                  rect(width='14.742', height='85', x='140.868', fill-opacity='.495')
                  rect(width='14.742', height='85', x='164.346', fill-opacity='.495')
                  rect(width='14.742', height='85', x='187.824', fill-opacity='.495')
                  rect(width='14.742', height='85', x='211.302', fill-opacity='.495')
                  rect(width='14.742', height='85', x='234.78', fill-opacity='.495')
                  rect(width='14.742', height='85', x='258.258', fill-opacity='.75')
                g(fill='#FF9797', transform='translate(0 115)')
                  rect(width='198.602', height='52', x='.398', fill-opacity='.495', opacity='.2')
                  rect(width='198.602', height='52', x='.398', fill-opacity='.495', opacity='.2')
                  rect(width='10.746', height='52', fill-opacity='.75')
                  rect(width='10.746', height='52', x='17.114', fill-opacity='.495')
                  rect(width='10.746', height='52', x='34.228', fill-opacity='.495')
                  rect(width='10.746', height='52', x='51.342', fill-opacity='.495')
                  rect(width='10.746', height='52', x='68.456', fill-opacity='.495')
                  rect(width='10.746', height='52', x='85.57', fill-opacity='.495')
                  rect(width='10.746', height='52', x='102.684', fill-opacity='.495')
                  rect(width='10.746', height='52', x='119.798', fill-opacity='.495')
                  rect(width='10.746', height='52', x='136.912', fill-opacity='.495')
                  rect(width='10.746', height='52', x='154.026', fill-opacity='.495')
                  rect(width='10.746', height='52', x='171.14', fill-opacity='.495')
                  rect(width='10.746', height='52', x='188.254', fill-opacity='.75')
                g(font-size='7.84', transform='translate(290)')
                  g(transform='translate(1 61.57)')
                    text(fill='#15101C', fill-opacity='.5', font-family='HelveticaNeue, Helvetica Neue')
                      tspan(x='46.439', y='7.56') 24px
                    text(fill='#475066', font-family='HelveticaNeue-Medium, Helvetica Neue', font-weight='400', letter-spacing='.493')
                      tspan(x='.471', y='8') GUTTER
                      tspan(x='34.796', y='8') :
                  g(transform='translate(0 46.177)')
                    text(fill='#15101C', fill-opacity='.5', font-family='HelveticaNeue, Helvetica Neue')
                      tspan(x='85.519', y='7') 70px
                    text(fill='#475066', font-family='HelveticaNeue-Medium, Helvetica Neue', font-weight='400', letter-spacing='.493')
                      tspan(x='.914', y='8') COLUMNS WIDTH
                      tspan(x='74.541', y='8') :
                  g(transform='translate(1 30.785)')
                    text(fill='#15101C', fill-opacity='.5', font-family='HelveticaNeue, Helvetica Neue')
                      tspan(x='54.727', y='7.56') 12
                    text(fill='#475066', font-family='HelveticaNeue-Medium, Helvetica Neue', font-weight='400', letter-spacing='.493')
                      tspan(x='.343', y='8') COLUMNS
                      tspan(x='43.283', y='8') :
                  g(transform='translate(1)')
                    text(fill='#475066', font-family='HelveticaNeue-Medium, Helvetica Neue', font-weight='400', letter-spacing='.493')
                      tspan(x='.143', y='8') TOTAL WIDTH
                      tspan(x='57.559', y='8') :
                    text(fill='#15101C', fill-opacity='.5', font-family='HelveticaNeue, Helvetica Neue')
                      tspan(x='68.614', y='7') 1920px
                  g(transform='translate(1 15.392)')
                    text(fill='#15101C', fill-opacity='.5', font-family='HelveticaNeue, Helvetica Neue')
                      tspan(x='44.807', y='7') 40px
                    text(fill='#475066', font-family='HelveticaNeue-Medium, Helvetica Neue', font-weight='400', letter-spacing='.493')
                      tspan(x='.486', y='8') OFFSET
                      tspan(x='33.368', y='8') :
                g(font-size='7.84', transform='translate(216 114)')
                  g(transform='translate(1 40.078)')
                    text(fill='#15101C', fill-opacity='.5', font-family='HelveticaNeue, Helvetica Neue')
                      tspan(x='46.496', y='7.59') 5px
                    text(fill='#475066', font-family='HelveticaNeue-Medium, Helvetica Neue', font-weight='400', letter-spacing='.493')
                      tspan(x='.471', y='8.03') GUTTER
                      tspan(x='34.796', y='8.03') :
                  g(transform='translate(0 26.902)')
                    text(fill='#15101C', fill-opacity='.5', font-family='HelveticaNeue, Helvetica Neue')
                      tspan(x='85.519', y='7.027') 50px
                    text(fill='#475066', font-family='HelveticaNeue-Medium, Helvetica Neue', font-weight='400', letter-spacing='.493')
                      tspan(x='.914', y='8.03') COLUMNS WIDTH
                      tspan(x='74.541', y='8.03') :
                  g(transform='translate(1)')
                    text(fill='#475066', font-family='HelveticaNeue-Medium, Helvetica Neue', font-weight='400', letter-spacing='.493')
                      tspan(x='.143', y='8.03') TOTAL WIDTH
                      tspan(x='57.559', y='8.03') :
                    text(fill='#15101C', fill-opacity='.5', font-family='HelveticaNeue, Helvetica Neue')
                      tspan(x='68.686', y='7.027') 768px
                  g(transform='translate(1 13.176)')
                    text(fill='#15101C', fill-opacity='.5', font-family='HelveticaNeue, Helvetica Neue')
                      tspan(x='44.864', y='7.027') 0px
                    text(fill='#475066', font-family='HelveticaNeue-Medium, Helvetica Neue', font-weight='400', letter-spacing='.493')
                      tspan(x='.486', y='8.03') OFFSET
                      tspan(x='33.368', y='8.03') :
                g(transform='translate(0 194)')
                  g(fill='#FF9797', transform='translate(0 1.635)')
                    rect(width='127.167', height='34.326', x='.255', fill-opacity='.495', opacity='.2')
                    rect(width='127.167', height='34.326', x='.255', fill-opacity='.495', opacity='.2')
                    rect(width='6.881', height='34.326', fill-opacity='.75')
                    rect(width='6.881', height='34.326', x='10.958', fill-opacity='.495')
                    rect(width='6.881', height='34.326', x='21.917', fill-opacity='.495')
                    rect(width='6.881', height='34.326', x='32.875', fill-opacity='.495')
                    rect(width='6.881', height='34.326', x='43.833', fill-opacity='.495')
                    rect(width='6.881', height='34.326', x='54.791', fill-opacity='.495')
                    rect(width='6.881', height='34.326', x='65.75', fill-opacity='.495')
                    rect(width='6.881', height='34.326', x='76.708', fill-opacity='.495')
                    rect(width='6.881', height='34.326', x='87.666', fill-opacity='.495')
                    rect(width='6.881', height='34.326', x='98.625', fill-opacity='.495')
                    rect(width='6.881', height='34.326', x='109.583', fill-opacity='.495')
                    rect(width='6.881', height='34.326', x='120.541', fill-opacity='.75')
                  g(font-size='7.84', transform='translate(145.562)')
                    g(transform='translate(0 13.485)')
                      text(fill='#15101C', fill-opacity='.5', font-family='HelveticaNeue, Helvetica Neue')
                        tspan(x='85.008', y='7') 22px
                      text(fill='#475066', font-family='HelveticaNeue-Medium, Helvetica Neue', font-weight='400', letter-spacing='.493')
                        tspan(x='.109', y='8') COLUMNS WIDTH
                        tspan(x='73.736', y='8') :
                    g
                      text(fill='#475066', font-family='HelveticaNeue-Medium, Helvetica Neue', font-weight='400', letter-spacing='.493')
                        tspan(x='.297', y='8') TOTAL WIDTH
                        tspan(x='57.713', y='8') :
                      text(fill='#15101C', fill-opacity='.5', font-family='HelveticaNeue, Helvetica Neue')
                        tspan(x='69.102', y='7') 320px
            .col-xs-12.col-md-6
              img(src="/img/work/cleancrm/guidelines.jpg", alt="grid interface")
            .col-xs-12.col-md-6
              img(src="/img/work/cleancrm/screens-1.jpg", alt="screen sizes responsive")







article(role="article").margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title INTERACTIONS
      .col-md-9
        p
        p Managing all interactions across the application to create a seamless experience will make the product stand out.
        .margin-top-25
        
          .row
            .col-xs-12.col-md-12
              img(src="/img/work/cleancrm/modal-warning.jpg", alt="modal-warning")
            .col-xs-12.col-md-12
              img(src="/img/work/cleancrm/edit-information.jpg", alt="modal-warning")
            .col-xs-12.col-md-12
              img(src="/img/work/cleancrm/modals-2.jpg", alt="Modals")
            

article(role="article").margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title DESIGN LANGUAGE
      .col-md-9
        p
        p I helped introducing a new design lenguage to make their product easier to navigate and find information. I created a UI Library and design system to make it easier for designers and developers to continue the work after I leave so they can continue working on the platform without having to worry about getting off track.
        .row
          .col-xs-12.col-md-12
            img(src="/img/work/cleancrm/component-3.jpg", alt="component")

article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title INTERFACE
      .col-md-9
        p
        p The platform helps keeping track of potential and current customers, everything while giving them feedback on the health of the business at a glance.
  

    .row
      .col-xs-12.col-md-7
        img(src="/img/work/cleancrm/1-2-4_Dashboard-Home-Recurring-Remove-Payment.jpg", alt="Recurring payments Dash").shadow-1  
      .col-xs-12.col-md-5
        img(src="/img/work/cleancrm/3-3-1_Notes_Booking-Upcoming-Points.jpg", alt="Booking_Notes").shadow-1
      .col-xs-12.col-md-5
        img(src="/img/work/cleancrm/4-2-4_Quotes-Expanded-Notification_Box.jpg", alt="Quotes_Notes").shadow-1

article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title RESULTS
      .col-md-9
        p
        p The client was really happy and we were dog fooding a beta with plans to transform the product into a Sass company. 
        p There are three things I think will have the most impact on my ongoing career and process:
        h2
        p.bold Planning and management
        p I learned a lot about how to manage design sprints and the expectations at the end of them.  
        p.bold Exploring from early on the project
        p Every project is different, and the process most adjusts to resources, timeline, and constraints.
        p.bold Deep research and understanding of the business
        p Getting to understand the business pains from top to bottom is crucial if you plan to offer solutions to that. Get and clean for a few days if that's necessary.
  

section(role="main")#work-section
  .container
    .row
      .col-md-6.col-xs-8
        h2.section-title SEE MORE PROJECTS
  hr
  .container
    .row

      .col-xs-6.col-sm-6.col-md-3.col-md-offset-3.work
        a(href='{{site.baseurl}}/work/condominium').no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-condominium.jpg", alt="Condominium").project-photo
          .tags
            .tag Frontend
            .tag Product Design
            
          .project-text
            p.no-link Designed Lead the UI development of a new application for condominium managers and tenants.
            a.project-description.color-6(href='{{site.baseurl}}/work/condominium').text-underline-1.color-3 See case study
            
      .col-xs-6.col-sm-6.col-md-3.work
        a(href='https://www.starklabs.io/' target="_blank").no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-stark.jpg", alt="stark").project-photo
          .tags
            .tag Illustration
            .tag Design
            .tag Dev.
          .project-text
            p.no-link Developed, illustrated and designed the marketing site for a new Chatbot/Ai development agency.
            a.project-description.color-6(href='https://www.starklabs.io/').text-underline-1.color-3 Visit site
  
      .col-xs-6.col-sm-6.col-md-3.work
        a(href='{{site.baseurl}}work/webpack').no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-webpack.jpg", alt="webpack").project-photo
          .tags
            .tag Design
            .tag Branding
          
          .project-text
            p.no-link Designing the marketing and brand of an Open Source plugin for the most popular front-end bundle.
            a.project-description.color-6(href='{{site.baseurl}}/work/webpack').text-underline-1.color-3 See case study

      
