section(role="main").margin-bottom-75
  .container.no-margin
    .row
      .col-md-8.col-md-offset-4.col-sx-12
        .intro-text
          h1.work-sans.title.intro-title.color-0 Clean CRM
        p Management product for cleaning service companies. Smoothly administrating all the customers, bookings, quotes and employees on a cleaning service company based in NYC.



article(role="article").no-margin
  .container
    .row
      .col-xs-12.col-md-12
        img(src="/img/work/cleancrm/crm-header.jpg", alt="intro crm").no-margin




article(role="article").no-margin
  hr
  .container.margin-top-25
    .row
      .col-md-4
        .row
          h2
          .col-xs-4
            h2.section-description.muted.no-margin Name
          .col-xs-6
            h2.section-description.no-margin Clean CRM
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Year
          .col-xs-6
            h2.section-description.no-margin 2016
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Service
          .col-xs-6
            h2.section-description.no-margin Product Design
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Duration
          .col-xs-6
            h2.section-description.no-margin 6 week sprint
            
      .col-md-8
        p 
        p I partnered up with an NYC Cleaning Service company wanting to automate their services. They had a non-functioning mvp and a clear goal, what made it easier for us to work on the project. The platform helps keeping track of potential and current customers, everything while giving them feedback on the health of the business at a glance.
        .row
          .col-md-12.margin-bottom-50
            img(src="/img/work/cleancrm/old-dashboards.jpg", alt="competitors")


article(role="article").no-margin.margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title THE PROBLEM
      .col-md-8
        p
        p As businesses grow and evolve, products need to evolve as well with the diverse and growing requirements of the business. The application that they were using previously failed to adapt to the increasingly complex demands of new features to support a growing cleaning service company.
        p  The company used another a third party software service that even though offered data about bookings and quotes, was missing the customer features and a way to keep everything better organized.
        .row
          .col-md-12
            img(src="/img/work/cleancrm/gmaps-competition2.jpg", alt="competitors")



article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title THE CHALLENGE
      .col-md-8
        p
        p As a small company, time and bugdet requires fast turnaround and control. I worked closely with developers from different parts of the world to brint the platform to life. For that we needed to manage time and constraints, Manage time and scope is harder than it sounds. We kept spreadsheets of flows and featers and trello boards of the needs and sprints of work. 

        p List of screens from screen map

        p • Specify features for each screen
        p • Assign priorities Must-have (First release) Nice to have (Next Release)
        p • Fill in development time estimates
        
article(role="article").no-margin
  .container.margin-top-25
    .row
      .col-xs-12.col-md-offset-4.col-md-8
        img(src="/img/work/cleancrm/scope.jpg", alt="quotes ipad hand").shadow-1



article(role="article").margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title THE CHALLENGE
      .col-md-8
        h2
        p Putting together a smooth and pleasing interface, with the CRM system, leaderboard and detailed client profiles, cleaners and administrators can now quickly identify pending, past works and reach out to their customers.
      .col-xs-12.col-md-8.col-md-offset-4
        img(src="/img/work/cleancrm/3-3-1_Notes_Booking-Upcoming-Points.jpg", alt="Upcoming_Notes").shadow-1  
      
article(role="article").margin-top-25
  .container.margin-top-25
    .row
      .col-xs-12.col-md-8.col-md-offset-4
        p Managing all interactions across the application to create a seamless experience will make the product stand out.
    .row
      .col-xs-12.col-md-8.col-md-offset-4
        img(src="/img/work/cleancrm/modals-1.jpg", alt="Modals")

article(role="article").margin-top-25
  .container.margin-top-25
    .row
      .col-xs-12.col-md-8.col-md-offset-4
        p I helped introducing a new design lenguage to make their product easier to navigate and find information. I created a UI Library and design system to make it easier for designers and developers to continue the work after I leave so they can continue working on the platform without having to worry about getting off track.
    .row
      .col-xs-6.col-md-6.col-md-offset-4
        img(src="/img/work/cleancrm/component-1.jpg", alt="Modals").margin-bottom-25
    .row
      .col-xs-6.col-md-6.col-md-offset-4
        img(src="/img/work/cleancrm/component-2.jpg", alt="Modals")

.container
  a(href="{{site.baseurl}}/work/condominium/")
    .col-xs-12.col-md-8.col-md-offset-4.text-left
      h2.work-linehigh.text-underline-0.color-0.work-sans condominium →
