section(role="main").margin-bottom-75
  .container
    .row
      .col-md-8.col-md-offset-4.col-sx-12
        .intro-text
          h1.work-sans.title.intro-title.color-0 Clean CRM
        p Management product for cleaning service companies. Smoothly administrating all the customers, bookings, quotes and employees on a cleaning service company.


article(role="article").no-margin-bottom
  .container
    .row
      .col-xs-12.col-md-12
        img(src="/img/work/cleancrm/crm-header.jpg", alt="intro crm").no-margin-bottom


article(role="article").no-margin-top
  hr
  .container.margin-top-25
    .row
      .col-md-4
        .row
          h2
          .col-xs-4
            h2.section-description.muted.no-margin Name
          .col-xs-6
            h2.section-description.no-margin Clean CRM
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Year
          .col-xs-6
            h2.section-description.no-margin 2016
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Service
          .col-xs-6
            h2.section-description.no-margin Product Design
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Duration
          .col-xs-6
            h2.section-description.no-margin 6 week sprint
            
      .col-md-8
        p 
        p I partnered up with an NYC Cleaning Service company wanting to automate their services. They had a non-functioning MVP and a clear goal before reaching out. 
        p The platform helps keeping track of potential and current customers, everything while giving them feedback on the health of the business at a glance.
        .row
          .col-md-12.margin-bottom-50
            img(src="/img/work/cleancrm/old-dashboards.jpg", alt="old dashboards")


article(role="article").no-margin.margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title THE PROBLEM
      .col-md-8
        p
        p Competition in the cleaning service industry is fierce, just look at the current map of Long Island. As businesses grow and evolve, products need to evolve as well with the diverse and growing requirements of the business. 
        p
        p  The application that they were using previously failed to adapt to the increasingly complex demands of new features to support a growing cleaning service company. The company used another a third party software service that even though offered data about bookings and quotes, was missing the customer features and a way to keep everything better organized.
        .row
          .col-md-12
            img(src="/img/work/cleancrm/gmaps-competition2.jpg", alt="competitors").shadow-1


article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title THE SCOPE
      .col-md-8
        p
        p As a small company, time and budget require fast turnaround and control. I worked closely with developers from different parts of the world to bring the platform to life. For that, we needed to manage time and constraints, Manage time and scope is harder than it sounds. We kept spreadsheets of flows and features and Trello boards of the needs and sprints of work.
        
        p List of screens from screen map

        p • Specify features for each screen
        p • Assign priorities Must-have (First release) Nice to have (Next Release)
        p • Fill in development time estimates
        
        .margin-top-25
          .row
            .col-xs-12.col-md-12
              img(src="/img/work/cleancrm/scope.jpg", alt="Scope spreadsheet")


article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title THE GRID
      .col-md-8
        p
        p A consistent grid help designers lay out UI quickly and consistently and consequently developers to create components the same way. I used an 8pt soft grid based on Android Material, scaling spaces and components from 4, 8, 16, 24 and alike. Also using a column and height grid to keep a visual rhythm into the application.
        .margin-top-25
          .row
            .col-xs-12.col-md-8
              img(src="/img/work/cleancrm/grid-guide.jpg", alt="Guideline Grid")
              
            .col-xs-12.col-md-12
              img(src="/img/work/cleancrm/guidelines.jpg", alt="grid interface")
      .container.margin-top-25
        .row
          .col-xs-12.col-md-12
            img(src="/img/work/cleancrm/screen-sizes.jpg", alt="screen sizes responsive")


article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title THE CHALLENGE
      .col-md-8
        p
        p Putting together a smooth and pleasing interface, with the CRM system, leaderboard and detailed client profiles, cleaners and administrators can now quickly identify pending, past works and reach out to their customers.
        .margin-top-25
          .row
            .col-xs-12.col-md-12
              img(src="/img/work/cleancrm/3-3-1_Notes_Booking-Upcoming-Points.jpg", alt="Upcoming_Notes").shadow-1  
      
      
article(role="article").margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title MODALS AND INTERACTIONS
      .col-md-8
        p
        p Managing all interactions across the application to create a seamless experience will make the product stand out.
        .margin-top-25
          .row
            .col-xs-12.col-md-12
              img(src="/img/work/cleancrm/modals-2.jpg", alt="Modals")

article(role="article").margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title DESIGN LENGUAGE
      .col-md-8
        p
        p I helped introducing a new design lenguage to make their product easier to navigate and find information. I created a UI Library and design system to make it easier for designers and developers to continue the work after I leave so they can continue working on the platform without having to worry about getting off track.
        .row
          .col-xs-12.col-md-12
            img(src="/img/work/cleancrm/component-3.jpg", alt="component")


.container
  a(href="{{site.baseurl}}/work/condominium/")
    .col-xs-12.col-md-8.col-md-offset-4.text-left
      h2.work-linehigh.text-underline-0.color-0.work-sans condominium →
