section(role="main")
  .container
    .row
      .col-md-8.col-md-offset-4.col-sx-12
        .intro-text
          h1.work-sans.title.intro-title.color-0 Clean CRM
        p Management product for cleaning service companies. Smoothly administrating all the customers, bookings, quotes and employees on a cleaning service company based in NYC.

article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        .row
          h2
          .col-xs-4
            h2.section-description.muted.no-margin Project
          .col-xs-6
            h2.section-description.no-margin Clean CRM
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Period
          .col-xs-6
            h2.section-description.no-margin 2016
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Product
          .col-xs-6
            h2.section-description.no-margin Management App
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Dribbble
          .col-xs-6
            h2.section-description.no-margin
              a(href="https://dribbble.com/shots/3279026-Cleaning-Service-CRM-Customer-Profile-Dashboard").text-underline-1 Project Link
            
      .col-md-8
        p
        p For both small and big businesses, sharing and managing work within teams is still too difficult. This is far from solved into a so competitive industry as the Cleaning Services one. Companies loose track of their employees, clients and time. Putting their businesses at the end of the trail.
        p Putting togheter an easy and pleasing interface, with the CRM system, leaderboard and detailed client profiles, cleaners and administrators can now easily identify pending, past works and reach out to their costumers.
        

        
article(role="article").no-margin
  .container.margin-top-25
    .row
      .col-xs-12.col-md-offset-2.col-md-8
        img(src="/img/work/cleancrm/quotes-ipad-black.jpg", alt="quotes ipad hand")

article(role="article")
  hr

article(role="article").margin-top-25
  .container.margin-top-25
    .row
      .col-md-4
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Dashboard & Home

      .col-xs-12.col-md-8
        p Putting togheter an easy and pleasing interface, with the CRM system, leaderboard and detailed client profiles, cleaners and administrators can now easily identify pending, past works and reach out to their costumers.
        
        img(src="/img/work/cleancrm/1-1-1_Dashboard-Home.jpg", alt="quotes ipad hand").shadow-1
        
article(role="article").margin-top-25
  .container.margin-top-25
    .row
      .col-xs-12.col-md-7
        img(src="/img/work/cleancrm/1-2-4_Dashboard-Home-Recurring-Remove-Payment.jpg", alt="quotes ipad hand").shadow-1
      .col-xs-12.col-md-5
        h2
        p Putting togheter an easy and pleasing interface, with the CRM system, leaderboard and detailed client profiles, cleaners and administrators can now easily identify pending, past works and reach out to their costumers.
        
    
article(role="article").margin-top-25
  .container.margin-top-25
    .row
      .col-xs-12.col-md-7
        img(src="/img/work/cleancrm/3-3-1_Notes_Booking-Upcoming-Points.jpg", alt="Upcoming_Notes").shadow-1
      .col-xs-12.col-md-5
        h2
        p Putting togheter an easy and pleasing interface, with the CRM system, leaderboard and detailed client profiles, cleaners and administrators can now easily identify pending, past works and reach out to their costumers.
        
article(role="article").margin-top-25
  .container.margin-top-25
    .row
      .col-xs-12.col-md-offset-4.col-md-8
        img(src="/img/work/cleancrm/Modals.jpg", alt="Upcoming_Notes")
      //- .col-xs-12.col-md-3
      //-   p Putting togheter an easy and pleasing interface, with the CRM system, leaderboard and detailed client profiles, cleaners and administrators can now easily identify pending, past works and reach out to their costumers.
      //-   
    
.container
  a(href="{{site.baseurl}}/work/condominium/")
    .col-xs-12.col-md-8.col-md-offset-4.text-left
      h2.work-linehigh.text-underline-0.color-0.work-sans condominium →
