section(role="main")
  br
  br
  br
  br
  br
  br
  .container
    .row
      .col-md-12
        .row
          .col-md-12
            .img-box.img-responsive
              img(src="/img/work/cleancrm/pap-intro-mbp-iphone.png", alt="intro cleancrm", style="")
        
article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        .row
          h2
          .col-xs-4
            h2.section-description.muted.no-margin Project
          .col-xs-6
            h2.section-description.no-margin Clean CRM
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Period
          .col-xs-6
            h2.section-description.no-margin 2016
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Product
          .col-xs-6
            h2.section-description.no-margin CRM
            
      .col-md-8
        p
        p asas

article(role="article")
  .container.margin-top-25
    .row
      .col-xs-12.col-md-12
        img(src="/img/work/cleancrm/booking-points.jpg", alt="booking points")

.container
  a(href="{{site.baseurl}}/work/condominium/")
    .col-xs-12.col-md-8.col-md-offset-4.text-left
      h2.work-linehigh.text-underline-0.color-0.work-sans condominium →
