section(role="main")
  .container
    .row
      .col-md-8.col-md-offset-4.col-sx-12
        .intro-text
          h1.work-sans.title.intro-title.color-0 Clean CRM
        p Management tool for cleaning service companies. This tool manages all the customers, bookings, quotes and employees on a cleaning service company based in NYC.
          //- b Washington, D.C. 
          //- |  in July, 2017. Looking for
          //- b  internship opportunities
          //- |  in the period of August 2017/May 2018. Check my latest work on 
          //- a(href="https://dribbble.com/rafaelmedian" target="_blank").text-underline-1 Dribbble
          //- |  and reach out or follow on 
          //- a(href="https://twitter.com/rafaelmedian" target="_blank").text-underline-1 Twitter
          //- | .
      //- .col-md-8
      //-   .img-responsive
      //-     img(src="/img/work/cleancrm/home-map-upcoming.jpg", alt="intro cleancrm", style="")

article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        .row
          h2
          .col-xs-4
            h2.section-description.muted.no-margin Project
          .col-xs-6
            h2.section-description.no-margin Clean CRM
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Period
          .col-xs-6
            h2.section-description.no-margin 2016
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Product
          .col-xs-6
            h2.section-description.no-margin Management App
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Dribbble
          .col-xs-6
            h2.section-description.no-margin
              a(href="https://dribbble.com/shots/3279026-Cleaning-Service-CRM-Customer-Profile-Dashboard").text-underline-1 Clean CRM 
            
      .col-md-8
        p
        p This tool manages all the customers, bookings, quotes and employees on a cleaning service company based in NYC.

        
article(role="article").no-margin
  .container.margin-top-25
    .row
      .col-xs-12.col-md-offset-4.col-md-8
        img(src="/img/work/cleancrm/quotes-expanded-ipad.jpg", alt="quotes ipad hand").no-margin
hr

.container
  a(href="{{site.baseurl}}/work/condominium/")
    .col-xs-12.col-md-8.col-md-offset-4.text-left
      h2.work-linehigh.text-underline-0.color-0.work-sans condominium →
