section(role="main")
  .container
    .row
      .col-md-7.col-md-offset-3.col-sx-12
        .intro-text
          h1.work-sans.title.intro-title.color-0 Condominium
        p Condominium is a beautiful app to manage what matters the most, your community.  This tool is targeted at managers who are constrained and their tenants to automate tasks and solve problems.
        
article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-3
        .row
          p
          .col-xs-3
            h2.section-description.muted.no-margin Name
          .col-xs-7
            h2.section-description.no-margin Condominium
        .row
          .col-xs-3
            h2.section-description.muted.no-margin Year
          .col-xs-7
            h2.section-description.no-margin 2016
        .row
          .col-xs-3
            h2.section-description.muted.no-margin Role
          .col-xs-7
            h2.section-description.no-margin Design, Frontend
        .row
          .col-xs-3
            h2.section-description.muted.no-margin Time
          .col-xs-7
            h2.section-description.no-margin 3 weeks
        
      .col-md-7
        p
        p A good neighborhood is one of the things in life that matter the most. Whether it's an electric problem, a reservation of a community space, Condominium helps you manage it.



article(role="article").no-margin
  .container.margin-top-25
    .row
      .col-xs-12.col-md-offset-3.col-md-6
        img(src="/img/work/condominium/ios_hand_intro.jpg", alt="Hand holding the phone").no-margin


article(role="article").no-margin
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title THE PROBLEM
      .col-md-8 
        p
        p After some market research and competitor’s analysis, we found that few similar mobile apps provide the same functionality, but they all offer complicated and buggy solutions. But after all, must condo management companies and board members used pen and paper, making this our main competitor. The places that did not do use the software at all.
        p Creating great user-centric oriented experiences and meet the admin user expectations by allowing them to quickly create, edit buildings and solve problems as soon as possible. And thus let the end users, the ones living in the condo trust and use their accounts.
    .row
      .col-md-offset-3.col-md-8.col-xs-12
        img(src="/img/work/condominium/competitor.png", alt="competitors file").shadow-1



//- article(role="article")
//-   hr
//-   .container.margin-top-25
//-     .row
//-       .col-md-3
//-         h2.section-title THE CHALLENGE
//-       .col-md-7
//-         p
//-         p The first challenge in the project was the number of team members. I was working with two developers on the hybrid Ionic mobile app, while I was in charge of the HTML & Sass implementation, while they worked on the backend and Angularjs side.
//-         p At that time I was aware, that the project will require for me to be involved with the development process from the beginning to the end, taking development tasks alongside with them. It will challenge us to deliver the user and the business needs.
//- 


article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title EPICS & DESIGN STORIES
      .col-md-8
        p
        p Epics are stories that are providing an overview of the features. They helped me think through my design decisions, to create and provide a useful user experience. In our case, epics were that user can: create, edit, view, share and delete building units.
        p We continued with writing design stories, and agile technique to capture the functionality of a product. We created detailed descriptions of what an user can do.
    .row
      .col-md-offset-3.col-md-9.col-xs-12
        img(src="/img/work/condominium/epic-stories.png", alt="competitors file")


article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title User Task Flow
      .col-md-8
        h2
        p Task flows helped us to think through the design, before a feature is actually developed. It helped us to interject the user into the flow of the application, and determine if the conceptual model agrees with the user model.
    .row
      .col-md-offset-3.col-md-9.col-xs-12
        .col-md-6
          img(src="/img/work/condominium/task-flow.jpg", alt="task flow")
        .col-md-6
          img(src="/img/work/condominium/board.jpg", alt="board")

article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title WIREFRAMES
      .col-md-8
        h2
        p My next step was to visualize the user task flow. I started with some quick sketches and continued with creating high-fidelity mockups. Since we were going to use the mockups for user validation, we used as much real data as possible.
        .row
          .col-md-12.col-md-offset-3x
            img(src="/img/work/condominium/wireframe.png", alt="wireframe")


article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title INTERFACE
      .col-md-8
        h2
        p By watching our test users use and fumble through our product or even just imagining using it, we quickly identified areas, where the app is not simple or clear enough. 
        p We also committed to make simplicity our top priority from day one and filtered every wireframe and piece of copy through questions: Is it simple enough? Is there anything we could simplify?
    .row
      .col-md-offset-2.col-xs-12.col-md-10
        img(src="/img/work/condominium/outcome2.png", alt="outcome")


section(role="main")#work-section
  .container
    .row
      .col-md-6.col-xs-8
        h2.section-title SEE MORE PROJECTS
  hr
  .container
    .row
      .col-xs-6.col-sm-6.col-md-3.col-md-offset-3.work
        a(href='{{site.baseurl}}/work/clean-crm').no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-crm.jpg", alt="crm").project-photo
          .tags
            .tag Product Lead
            .tag Product Design
            
          .project-text
            p.no-link Designed and lead the development of a CRM tool for a cleaning service company based in NYC.
            a.project-description.color-6(href='{{site.baseurl}}/work/clean-crm').text-underline-1.color-3 See case study


      .col-xs-6.col-sm-6.col-md-3.work
        a(href='{{site.baseurl}}/work/starklabs').no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-stark.jpg", alt="stark").project-photo
          .tags
            .tag Illustration
            .tag Design
            .tag Dev.
          .project-text
            p.no-link Developed, illustrated and designed the marketing site for a new Chatbot/Ai development agency.
            a.project-description.color-6(href='{{site.baseurl}}/work/starklabs').text-underline-1.color-3 See case study

      .col-xs-6.col-sm-6.col-md-3.work
        a(href='https://itunes.apple.com/us/app/turtle-chat-anonymously/id1313518475?mt=8' target="_blank").no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-turtle.jpg", alt="turlte app").project-photo
          .tags 
            .tag Design
            .tag Frontend 
          .project-text
            p.no-link Built a product from scratch alongside a team as cofounders. Reached 4k users during the first week.
            a.project-description.color-6(href='https://itunes.apple.com/us/app/turtle-chat-anonymously/id1313518475?mt=8' target="_blank").text-underline-1.color-3 Download App —


      //- .col-xs-6.col-sm-6.col-md-3.work
      //-   a(href='{{site.baseurl}}/work/webpack').no-link
      //-     .project-image
      //-       img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-webpack.jpg", alt="webpack").project-photo
      //-     .tags
      //-       .tag Design
      //-       .tag Branding
      //- 
      //-     .project-text
      //-       p.no-link Designing the marketing and brand of an Open Source plugin for the most popular front-end bundle.
      //-       a.project-description.color-6(href='{{site.baseurl}}/work/webpack').text-underline-1.color-3 See case study
