section(role="main")
  .container
    .row
      .col-md-8.col-md-offset-4.col-sx-12
        .intro-text
          h1.work-sans.title.intro-title.color-0 Condominim
        p Condominim is a beautiful app to manage what matters the most, your community.
        
article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        .row
          h2
          .col-xs-4
            h2.section-description.muted.no-margin Project
          .col-xs-6
            h2.section-description.no-margin Condominium
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Period
          .col-xs-6
            h2.section-description.no-margin 2016
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Product
          .col-xs-6
            h2.section-description.no-margin Mobile app
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Behance
          .col-xs-6
            h2.section-description.no-margin
              a(href="https://www.behance.net/gallery/43411151/Condominim") Condominim 
            
      .col-md-8
        p
        p Condominim is a beautiful app to manage what matters the most, your community. A good neighborhood is one of the things in life that matter the most. Whether it's an electric problem, a reservation of a community space, Condominium helps you manage it.


article(role="article").no-margin
  .container.margin-top-25
    .row
      .col-xs-12.col-md-offset-4.col-md-6
        img(src="/img/work/condominium/ios_hand_intro.jpg", alt="Hand holding the phone").no-margin


article(role="article").no-margin
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title THE PROBLEM
      .col-md-8
        p
        p After some market research and competitor’s analysis, we found that there are few similar mobile apps that provide the same functionality, but they all offer complex and buggy solutions. But after all, must condo management companies and board members used pen and paper, making this our main competitor. The places that did not do use software at all.
        p Creating great user centric oriented experiences and meet the admin user expectations by allowing them to easily create, edit buildings and solve problems as quickly as possible. And thus letting the end users, the ones living in the condo trust and use their accounts.
        .row
          .col-md-12
            img(src="/img/work/condominium/competitor.png", alt="competitors file")

article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title THE CHALLENGE
      .col-md-8
        p
        p The first challenge in the project was the number of team members. I was working with two developers on the hybrid Ionic mobile app, while I was in charge of the HTML & Sass implementation, they were focused on the backend and Angularjs side. At that time I was aware, that the project will require for me to be involved with the development process from the beginning to the end, taking development tasks alongside with them. It will challenge us to deliver the user and the business needs.
        
//- article(role="article")
//-   hr
//-   .container.margin-top-25
//-     .row
//-       .col-md-4
//-         h2.section-title RESEARCH
//-       .col-md-8
//-         h2
//-         p We tried to stay focused through the research, by making it short and effective. We gathered as much data as possible from user feedbacks, technical reports, etc. We also created a detailed competitor analysis that gave us insights of current apps and helped us to meet the priorities to differentiate our product from all the others. The research phase continued with creating assumptions, that we later validated with surveys and user interviews.
//-         p We started to ask questions who are the users we are targeting, which features would be useful to them, what goals do they need to accomplish and what are the users needs and desires.


article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title EPICS AND DESIGN STORIES
      .col-md-8.margin-bottom-25
        h2
        p Epics are stories that are providing an overview of the features. They helped me think through my design decisions, to create and provide a useful user experience. In our case, epics were that user can: create, edit, view, share and delete building units.
        p We continued with writing design stories, and agile technique to capture the functionality of a product. We created detailed descriptions of what an user can do.
      
        
      .row
        .col-md-offset-0.col-md-12
          img(src="/img/work/condominium/epic-stories.png", alt="competitors file")


article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title User Task Flow
      .col-md-8
        h2
        p Task flows helped us to think through the design, before a feature is actually developed. It helped us to interject the user into the flow of the application, and determine if the conceptual model agrees with the user model.
        .row
          .col-md-6
            img(src="/img/work/condominium/task-flow.jpg", alt="task flow")
          .col-md-6
            img(src="/img/work/condominium/board.jpg", alt="board")

article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title WIREFRAMES
      .col-md-8
        h2
        p My next step was to visualize the user task flow. I started with some quick sketches and continued with creating high-fidelity mockups. Since we were going to use the mockups for user validation, we used as much real data as possible.
        .row
          .col-md-12.col-md-offset-3x
            img(src="/img/work/condominium/wireframe.png", alt="wireframe")


article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title INTERFACE
      .col-md-8
        h2
        p By watching our test users use and fumble through our product or even just imagining using it, we quickly identified areas, where app is not simple or clear enough. We also made a commitment to make simplicity our top priority from day one and filtered every wireframe and piece of copy through questions: Is it simple enough? Is there anything we could simplify?    
    .row
      .col-md-offset-2.col-xs-12.col-md-10
        img(src="/img/work/condominium/outcome2.png", alt="outcome")


.container
  a(href="{{site.baseurl}}/work/parla/")
    .col-xs-12.col-md-8.col-md-offset-4.text-left
      h2.work-linehigh.text-underline-0.color-0.work-sans parla →
