section(role="main")
  .container
    .row
      .col-md-12
        .img-box.img-responsive.text-center
          svg(width='396px', height='54px', viewbox='0 0 396 54', version='1.1', style="display: block; margin: 0 auto;")
            // Generator: Sketch 40.1 (33804) - http://www.bohemiancoding.com/sketch
            title condo-logo
            desc Condominium logo.
            defs
            g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
              g(transform='translate(-525.000000, -488.000000)', fill='#35BAF2')
                g(transform='translate(525.000000, 488.000000)')
                  path(d='M102.006964,39.087624 C102.390294,39.087624 102.730059,39.2357265 103.026268,39.531936 L105.796684,42.537576 C104.263364,44.4368015 102.377235,45.8916909 100.13824,46.902288 C97.8992448,47.9128851 95.2116197,48.418176 92.075284,48.418176 C89.270006,48.418176 86.7479072,47.9390208 84.508912,46.980696 C82.2699168,46.0223712 80.3576519,44.6894485 78.77206,42.981888 C77.1864681,41.2743275 75.9711562,39.2357398 75.126088,36.866064 C74.2810198,34.4963882 73.858492,31.90895 73.858492,29.103672 C73.858492,26.2635458 74.3115115,23.6630398 75.217564,21.302076 C76.1236165,18.9411122 77.3999118,16.9068805 79.046488,15.19932 C80.6930642,13.4917595 82.6576006,12.1631927 84.940156,11.21358 C87.2227114,10.2639673 89.7491661,9.789168 92.519596,9.789168 C95.2726018,9.789168 97.7162933,10.2421875 99.850744,11.14824 C101.985195,12.0542925 103.801629,13.2391127 105.3001,14.702736 L102.94786,17.969736 C102.808467,18.178825 102.629873,18.3617752 102.412072,18.518592 C102.194271,18.6754088 101.89371,18.753816 101.51038,18.753816 C101.249019,18.753816 100.978949,18.6797647 100.700164,18.53166 C100.421379,18.3835553 100.116462,18.2006051 99.785404,17.982804 C99.4543463,17.7650029 99.0710222,17.5254253 98.63542,17.264064 C98.1998178,17.0027027 97.6945269,16.7631251 97.119532,16.545324 C96.5445371,16.3275229 95.8780758,16.1445727 95.120128,15.996468 C94.3621802,15.8483633 93.486633,15.774312 92.49346,15.774312 C90.8033235,15.774312 89.256959,16.074873 87.85432,16.676004 C86.451681,17.277135 85.2450811,18.1483263 84.234484,19.289604 C83.2238869,20.4308817 82.4398148,21.8247878 81.882244,23.471364 C81.3246732,25.1179402 81.045892,26.9953575 81.045892,29.103672 C81.045892,31.2294106 81.346453,33.1198957 81.947584,34.775184 C82.548715,36.4304723 83.3632789,37.8243783 84.3913,38.956944 C85.4193211,40.0895097 86.630277,40.956345 88.024204,41.557476 C89.418131,42.158607 90.91658,42.459168 92.519596,42.459168 C93.4779208,42.459168 94.3447561,42.4068965 95.120128,42.302352 C95.8954999,42.1978075 96.6098767,42.0322811 97.26328,41.805768 C97.9166833,41.5792549 98.5352291,41.2874058 99.118936,40.930212 C99.7026429,40.5730182 100.281985,40.1330666 100.85698,39.610344 C101.031221,39.4535272 101.214171,39.3272045 101.405836,39.231372 C101.597501,39.1355395 101.797875,39.087624 102.006964,39.087624 L102.006964,39.087624 Z M120.929428,20.766288 C122.915774,20.766288 124.723496,21.0886288 126.352648,21.73332 C127.9818,22.3780112 129.375706,23.2927621 130.534408,24.4776 C131.69311,25.6624379 132.586081,27.1086155 133.213348,28.816176 C133.840615,30.5237365 134.154244,32.4316455 134.154244,34.53996 C134.154244,36.6656986 133.840615,38.5823195 133.213348,40.28988 C132.586081,41.9974405 131.69311,43.45233 130.534408,44.654592 C129.375706,45.856854 127.9818,46.7803168 126.352648,47.425008 C124.723496,48.0696992 122.915774,48.39204 120.929428,48.39204 C118.925658,48.39204 117.104868,48.0696992 115.467004,47.425008 C113.82914,46.7803168 112.430878,45.856854 111.272176,44.654592 C110.113474,43.45233 109.216147,41.9974405 108.580168,40.28988 C107.944189,38.5823195 107.626204,36.6656986 107.626204,34.53996 C107.626204,32.4316455 107.944189,30.5237365 108.580168,28.816176 C109.216147,27.1086155 110.113474,25.6624379 111.272176,24.4776 C112.430878,23.2927621 113.82914,22.3780112 115.467004,21.73332 C117.104868,21.0886288 118.925658,20.766288 120.929428,20.766288 L120.929428,20.766288 Z M120.929428,43.4262 C123.159711,43.4262 124.810619,42.6769755 125.8822,41.178504 C126.953781,39.6800325 127.489564,37.4846305 127.489564,34.592232 C127.489564,31.6998335 126.953781,29.4957196 125.8822,27.979824 C124.810619,26.4639284 123.159711,25.705992 120.929428,25.705992 C118.664297,25.705992 116.987253,26.4682844 115.898248,27.992892 C114.809243,29.5174996 114.264748,31.7172576 114.264748,34.592232 C114.264748,37.4672064 114.809243,39.6582525 115.898248,41.165436 C116.987253,42.6726195 118.664297,43.4262 120.929428,43.4262 L120.929428,43.4262 Z M145.131364,24.4776 C145.671511,23.9374533 146.242141,23.4365183 146.843272,22.97478 C147.444403,22.5130417 148.080373,22.1210056 148.7512,21.79866 C149.422027,21.4763144 150.14076,21.2236689 150.90742,21.040716 C151.67408,20.8577631 152.510423,20.766288 153.416476,20.766288 C154.880099,20.766288 156.178174,21.0145775 157.31074,21.511164 C158.443306,22.0077505 159.388548,22.7047035 160.146496,23.602044 C160.904444,24.4993845 161.47943,25.5709498 161.871472,26.816772 C162.263514,28.0625942 162.459532,29.4347205 162.459532,30.933192 L162.459532,48 L156.00394,48 L156.00394,30.933192 C156.00394,29.2953278 155.629328,28.0277445 154.880092,27.130404 C154.130856,26.2330635 152.989596,25.7844 151.456276,25.7844 C150.341134,25.7844 149.295705,26.0370455 148.319956,26.542344 C147.344207,27.0476425 146.420744,27.7358836 145.54954,28.607088 L145.54954,48 L139.093948,48 L139.093948,21.184464 L143.040484,21.184464 C143.87684,21.184464 144.425691,21.5765001 144.687052,22.360584 L145.131364,24.4776 Z M185.40694,28.032096 C184.675128,27.1434676 183.877988,26.5162098 183.015496,26.150304 C182.153004,25.7843982 181.225185,25.601448 180.232012,25.601448 C179.256263,25.601448 178.37636,25.7843982 177.592276,26.150304 C176.808192,26.5162098 176.137375,27.0694163 175.579804,27.80994 C175.022233,28.5504637 174.595349,29.4913503 174.29914,30.632628 C174.002931,31.7739057 173.854828,33.1198962 173.854828,34.67064 C173.854828,36.2388078 173.981151,37.5673746 174.2338,38.65638 C174.486449,39.7453854 174.847994,40.6340006 175.318444,41.322252 C175.788894,42.0105034 176.363881,42.5070825 177.04342,42.812004 C177.722959,43.1169255 178.480896,43.269384 179.317252,43.269384 C180.658907,43.269384 181.800167,42.9906028 182.741068,42.433032 C183.681969,41.8754612 184.570584,41.0826771 185.40694,40.054656 L185.40694,28.032096 Z M191.862532,9.161904 L191.862532,48 L187.915996,48 C187.062216,48 186.522077,47.6079639 186.295564,46.82388 L185.746708,44.236416 C184.666415,45.4735262 183.424967,46.4753962 182.022328,47.242056 C180.619689,48.0087158 178.986205,48.39204 177.121828,48.39204 C175.658205,48.39204 174.31657,48.087123 173.096884,47.47728 C171.877198,46.867437 170.827412,45.9831778 169.947496,44.824476 C169.06758,43.6657742 168.38805,42.2326645 167.908888,40.525104 C167.429726,38.8175435 167.190148,36.866075 167.190148,34.67064 C167.190148,32.6842941 167.460217,30.8373685 168.000364,29.129808 C168.540511,27.4222475 169.315871,25.9412223 170.326468,24.686688 C171.337065,23.4321537 172.548021,22.4520635 173.959372,21.746388 C175.370723,21.0407125 176.956291,20.68788 178.716124,20.68788 C180.214595,20.68788 181.495247,20.9231016 182.558116,21.393552 C183.620985,21.8640024 184.570584,22.499972 185.40694,23.30148 L185.40694,9.161904 L191.862532,9.161904 Z M210.10546,20.766288 C212.091806,20.766288 213.899528,21.0886288 215.52868,21.73332 C217.157832,22.3780112 218.551738,23.2927621 219.71044,24.4776 C220.869142,25.6624379 221.762113,27.1086155 222.38938,28.816176 C223.016647,30.5237365 223.330276,32.4316455 223.330276,34.53996 C223.330276,36.6656986 223.016647,38.5823195 222.38938,40.28988 C221.762113,41.9974405 220.869142,43.45233 219.71044,44.654592 C218.551738,45.856854 217.157832,46.7803168 215.52868,47.425008 C213.899528,48.0696992 212.091806,48.39204 210.10546,48.39204 C208.10169,48.39204 206.2809,48.0696992 204.643036,47.425008 C203.005172,46.7803168 201.60691,45.856854 200.448208,44.654592 C199.289506,43.45233 198.392179,41.9974405 197.7562,40.28988 C197.120221,38.5823195 196.802236,36.6656986 196.802236,34.53996 C196.802236,32.4316455 197.120221,30.5237365 197.7562,28.816176 C198.392179,27.1086155 199.289506,25.6624379 200.448208,24.4776 C201.60691,23.2927621 203.005172,22.3780112 204.643036,21.73332 C206.2809,21.0886288 208.10169,20.766288 210.10546,20.766288 L210.10546,20.766288 Z M210.10546,43.4262 C212.335743,43.4262 213.986651,42.6769755 215.058232,41.178504 C216.129813,39.6800325 216.665596,37.4846305 216.665596,34.592232 C216.665596,31.6998335 216.129813,29.4957196 215.058232,27.979824 C213.986651,26.4639284 212.335743,25.705992 210.10546,25.705992 C207.840329,25.705992 206.163285,26.4682844 205.07428,27.992892 C203.985275,29.5174996 203.44078,31.7172576 203.44078,34.592232 C203.44078,37.4672064 203.985275,39.6582525 205.07428,41.165436 C206.163285,42.6726195 207.840329,43.4262 210.10546,43.4262 L210.10546,43.4262 Z M228.26998,48 L228.26998,21.184464 L232.216516,21.184464 C233.052872,21.184464 233.601723,21.5765001 233.863084,22.360584 L234.28126,24.34692 C234.75171,23.8241974 235.243933,23.3450422 235.757944,22.90944 C236.271955,22.4738378 236.820805,22.0992256 237.404512,21.785592 C237.988219,21.4719584 238.615477,21.2236689 239.286304,21.040716 C239.957131,20.8577631 240.693288,20.766288 241.494796,20.766288 C243.184932,20.766288 244.574483,21.2236634 245.663488,22.138428 C246.752493,23.0531926 247.567057,24.2685044 248.107204,25.7844 C248.525382,24.8957716 249.048097,24.1334792 249.675364,23.4975 C250.302631,22.8615208 250.990872,22.343162 251.740108,21.942408 C252.489344,21.541654 253.286484,21.245449 254.131552,21.053784 C254.97662,20.862119 255.826032,20.766288 256.679812,20.766288 C258.160859,20.766288 259.476358,20.9927977 260.626348,21.445824 C261.776338,21.8988503 262.74336,22.5609556 263.527444,23.43216 C264.311528,24.3033644 264.908294,25.3662177 265.31776,26.620752 C265.727226,27.8752863 265.931956,29.3127519 265.931956,30.933192 L265.931956,48 L259.476364,48 L259.476364,30.933192 C259.476364,29.2256315 259.101752,27.9406243 258.352516,27.078132 C257.60328,26.2156397 256.505579,25.7844 255.05938,25.7844 C254.397265,25.7844 253.783075,25.8976549 253.216792,26.124168 C252.650509,26.3506811 252.15393,26.6773779 251.72704,27.104268 C251.30015,27.5311581 250.964741,28.0669408 250.720804,28.711632 C250.476867,29.3563232 250.3549,30.0968358 250.3549,30.933192 L250.3549,48 L243.873172,48 L243.873172,30.933192 C243.873172,29.138511 243.511628,27.8317241 242.788528,27.012792 C242.065428,26.1938599 241.006931,25.7844 239.613004,25.7844 C238.672103,25.7844 237.796556,26.0152657 236.986336,26.477004 C236.176116,26.9387423 235.422535,27.570356 234.725572,28.371864 L234.725572,48 L228.26998,48 Z M278.738596,21.184464 L278.738596,48 L272.256868,48 L272.256868,21.184464 L278.738596,21.184464 Z M279.62722,13.3698 C279.62722,13.9273708 279.513965,14.4500856 279.287452,14.93796 C279.060939,15.4258344 278.760378,15.8527182 278.38576,16.218624 C278.011142,16.5845298 277.571191,16.8763789 277.065892,17.09418 C276.560593,17.3119811 276.020455,17.42088 275.44546,17.42088 C274.887889,17.42088 274.360818,17.3119811 273.864232,17.09418 C273.367646,16.8763789 272.936406,16.5845298 272.5705,16.218624 C272.204594,15.8527182 271.912745,15.4258344 271.694944,14.93796 C271.477143,14.4500856 271.368244,13.9273708 271.368244,13.3698 C271.368244,12.7948051 271.477143,12.2546665 271.694944,11.749368 C271.912745,11.2440695 272.204594,10.8084738 272.5705,10.442568 C272.936406,10.0766622 273.367646,9.78481309 273.864232,9.567012 C274.360818,9.34921091 274.887889,9.240312 275.44546,9.240312 C276.020455,9.240312 276.560593,9.34921091 277.065892,9.567012 C277.571191,9.78481309 278.011142,10.0766622 278.38576,10.442568 C278.760378,10.8084738 279.060939,11.2440695 279.287452,11.749368 C279.513965,12.2546665 279.62722,12.7948051 279.62722,13.3698 L279.62722,13.3698 Z M291.362284,24.4776 C291.902431,23.9374533 292.473061,23.4365183 293.074192,22.97478 C293.675323,22.5130417 294.311293,22.1210056 294.98212,21.79866 C295.652947,21.4763144 296.37168,21.2236689 297.13834,21.040716 C297.905,20.8577631 298.741343,20.766288 299.647396,20.766288 C301.111019,20.766288 302.409094,21.0145775 303.54166,21.511164 C304.674226,22.0077505 305.619468,22.7047035 306.377416,23.602044 C307.135364,24.4993845 307.71035,25.5709498 308.102392,26.816772 C308.494434,28.0625942 308.690452,29.4347205 308.690452,30.933192 L308.690452,48 L302.23486,48 L302.23486,30.933192 C302.23486,29.2953278 301.860248,28.0277445 301.111012,27.130404 C300.361776,26.2330635 299.220516,25.7844 297.687196,25.7844 C296.572054,25.7844 295.526625,26.0370455 294.550876,26.542344 C293.575127,27.0476425 292.651664,27.7358836 291.78046,28.607088 L291.78046,48 L285.324868,48 L285.324868,21.184464 L289.271404,21.184464 C290.10776,21.184464 290.656611,21.5765001 290.917972,22.360584 L291.362284,24.4776 Z M321.497092,21.184464 L321.497092,48 L315.015364,48 L315.015364,21.184464 L321.497092,21.184464 Z M322.385716,13.3698 C322.385716,13.9273708 322.272461,14.4500856 322.045948,14.93796 C321.819435,15.4258344 321.518874,15.8527182 321.144256,16.218624 C320.769638,16.5845298 320.329687,16.8763789 319.824388,17.09418 C319.319089,17.3119811 318.778951,17.42088 318.203956,17.42088 C317.646385,17.42088 317.119314,17.3119811 316.622728,17.09418 C316.126142,16.8763789 315.694902,16.5845298 315.328996,16.218624 C314.96309,15.8527182 314.671241,15.4258344 314.45344,14.93796 C314.235639,14.4500856 314.12674,13.9273708 314.12674,13.3698 C314.12674,12.7948051 314.235639,12.2546665 314.45344,11.749368 C314.671241,11.2440695 314.96309,10.8084738 315.328996,10.442568 C315.694902,10.0766622 316.126142,9.78481309 316.622728,9.567012 C317.119314,9.34921091 317.646385,9.240312 318.203956,9.240312 C318.778951,9.240312 319.319089,9.34921091 319.824388,9.567012 C320.329687,9.78481309 320.769638,10.0766622 321.144256,10.442568 C321.518874,10.8084738 321.819435,11.2440695 322.045948,11.749368 C322.272461,12.2546665 322.385716,12.7948051 322.385716,13.3698 L322.385716,13.3698 Z M351.187588,21.184464 L351.187588,48 L347.241052,48 C346.387272,48 345.847133,47.6079639 345.62062,46.82388 L345.176308,44.680728 C344.078591,45.7958696 342.867635,46.6975526 341.543404,47.385804 C340.219173,48.0740554 338.659741,48.418176 336.86506,48.418176 C335.401437,48.418176 334.107718,48.1698865 332.983864,47.6733 C331.86001,47.1767135 330.914768,46.4754045 330.148108,45.569352 C329.381448,44.6632995 328.802106,43.5873782 328.410064,42.341556 C328.018022,41.0957338 327.822004,39.7236075 327.822004,38.225136 L327.822004,21.184464 L334.277596,21.184464 L334.277596,38.225136 C334.277596,39.8630002 334.656564,41.1305835 335.414512,42.027924 C336.17246,42.9252645 337.309364,43.373928 338.82526,43.373928 C339.940402,43.373928 340.985831,43.1256385 341.96158,42.629052 C342.937329,42.1324655 343.860792,41.4485804 344.731996,40.577376 L344.731996,21.184464 L351.187588,21.184464 Z M357.564772,48 L357.564772,21.184464 L361.511308,21.184464 C362.347664,21.184464 362.896515,21.5765001 363.157876,22.360584 L363.576052,24.34692 C364.046502,23.8241974 364.538725,23.3450422 365.052736,22.90944 C365.566747,22.4738378 366.115597,22.0992256 366.699304,21.785592 C367.283011,21.4719584 367.910269,21.2236689 368.581096,21.040716 C369.251923,20.8577631 369.98808,20.766288 370.789588,20.766288 C372.479724,20.766288 373.869275,21.2236634 374.95828,22.138428 C376.047285,23.0531926 376.861849,24.2685044 377.401996,25.7844 C377.820174,24.8957716 378.342889,24.1334792 378.970156,23.4975 C379.597423,22.8615208 380.285664,22.343162 381.0349,21.942408 C381.784136,21.541654 382.581276,21.245449 383.426344,21.053784 C384.271412,20.862119 385.120824,20.766288 385.974604,20.766288 C387.455651,20.766288 388.77115,20.9927977 389.92114,21.445824 C391.07113,21.8988503 392.038152,22.5609556 392.822236,23.43216 C393.60632,24.3033644 394.203086,25.3662177 394.612552,26.620752 C395.022018,27.8752863 395.226748,29.3127519 395.226748,30.933192 L395.226748,48 L388.771156,48 L388.771156,30.933192 C388.771156,29.2256315 388.396544,27.9406243 387.647308,27.078132 C386.898072,26.2156397 385.800371,25.7844 384.354172,25.7844 C383.692057,25.7844 383.077867,25.8976549 382.511584,26.124168 C381.945301,26.3506811 381.448722,26.6773779 381.021832,27.104268 C380.594942,27.5311581 380.259533,28.0669408 380.015596,28.711632 C379.771659,29.3563232 379.649692,30.0968358 379.649692,30.933192 L379.649692,48 L373.167964,48 L373.167964,30.933192 C373.167964,29.138511 372.80642,27.8317241 372.08332,27.012792 C371.36022,26.1938599 370.301723,25.7844 368.907796,25.7844 C367.966895,25.7844 367.091348,26.0152657 366.281128,26.477004 C365.470908,26.9387423 364.717327,27.570356 364.020364,28.371864 L364.020364,48 L357.564772,48 Z')
                  polygon(points='4.00000014 46.5500463 7.449952 49.9999983 7.449952 23.7339777 6.2199392 26.3748182 28.5058864 7.64084054 23.9094195 7.50085674 43.6234722 26.2348344 42.550048 23.7339777 42.550048 27.6430844 49.449952 27.6430844 49.449952 23.7339777 49.449952 22.2531804 48.3765278 21.233121 28.662475 2.49914326 26.4268114 0.374624647 24.0660081 2.35915946 1.7800608 21.0931371 0.550048 22.1271086 0.550048 23.7339777 0.550048 49.9999983 0.550048 53.4499501 3.99999986 53.4499503 45.9999981 53.449952 45.9999984 46.550048')

            //- img(src="/img/work/condominium/condo-logo.png", alt="intro condominium" style="max-width: 350px;")

  //- .row
  //-   .col-md-3
  //-   .col-md-8
  //-     .intro-text
  //-       h1.circular.title.intro-title
  //-         span.color-3.h3 UI/UX Design
  //-         p Condominium
  //-       p Condominium is a beautiful condo management app to what matter the must, your community. A good neighborhood is one of the things in life that matter the most. Whether it's an electric problem, a reservation of a community space, Condominium helps you manage it.
  //-     .row
  //-       .col-md-12
  //-         img(src="/img/work/condominium/intro.jpg", alt="intro condominium")
        
article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        .row
          h2
          .col-xs-4
            h2.section-description.muted.no-margin Project
          .col-xs-6
            h2.section-description.no-margin Condominium
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Period
          .col-xs-6
            h2.section-description.no-margin 2016
        .row
          .col-xs-4
            h2.section-description.muted.no-margin Product
          .col-xs-6
            h2.section-description.no-margin Mobile app
            
      .col-md-8
        p
        p Condominium is a beautiful app to manage what matter the must, your community. A good neighborhood is one of the things in life that matter the most. Whether it's an electric problem, a reservation of a community space, Condominium helps you manage it.


article(role="article").no-margin
  .container.margin-top-25
    .row
      .col-xs-12.col-md-offset-4.col-md-8
        img(src="/img/work/condominium/ios_hand_intro.jpg", alt="Hand holding the phone")


article(role="article").no-margin
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title THE PROBLEM
      .col-md-8
        p
        p After some market research and competitor’s analysis, we found that there are few similar mobile apps that provide the same functionality, but they all offer complex and buggy solutions. But after all, must condo management companies and board members used pen and paper, making this our main competitor. The places that did not do use software at all.
        p Creating great user centric oriented experiences and meet the admin user expectations by allowing them to easily create, edit buildings and solve problems as quickly as possible. And thus letting the end users, the ones living in the condo trust and use their accounts.
        .row
          .col-md-12
            img(src="/img/work/condominium/competitor.png", alt="competitors file")
          //- .col-md-12
          //-   img(src="/img/work/condominium/problem.jpg", alt="The problem")
          

article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title THE CHALLENGE
      .col-md-8
        p
        p The first challenge in the project was the number of team members. I was working with two developers on the hybrid Ionic mobile app, while I was in charge of the HTML & Sass implementation, they were focused on the backend and angular side. At that time I was aware, that the project will require for me to be involved with the development process from the beginning to the end, taking development tasks alongside with them. It will challenge us to deliver the user and the business needs.
        p The second challenge was to work through the low budget that was available. For advance planning this meant that we won’t have all the resources available and that our research will be based on any source that we could gather, to deliver a great product.


article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title RESEARCH
      .col-md-8
        h2
        p We tried to stay focused through the research, by making it short and effective. We gathered as much data as possible from user feedbacks, technical reports, etc. We also created a detailed competitor analysis that gave us insights of current apps and helped us to meet the priorities to differentiate our product from all the others. The research phase continued with creating assumptions, that we later validated with surveys and user interviews.
        p We started to ask questions who are the users we are targeting, which features would be useful to them, what goals do they need to accomplish and what are the users needs and desires.


article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title EPICS AND DESIGN STORIES
      .col-md-8.margin-bottom-25
        h2
        p Epics are stories that are providing an overview of the features. They helped me think through my design decisions, to create and provide a useful user experience. In our case, epics were that user can: create, edit, view, share and delete building units.
        p We continued with writing design stories, and agile technique to capture the functionality of a product. We created detailed descriptions of what an user can do.
      
        
      .row
        .col-md-offset-4.col-md-8
          img(src="/img/work/condominium/epic-stories.png", alt="competitors file")


article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title User Task Flow
      .col-md-8
        h2
        p Task flows helped us to think through the design, before a feature is actually developed. It helped us to interject the user into the flow of the application, and determine if the conceptual model agrees with the user model.
        .row
          .col-md-6
            img(src="/img/work/condominium/task-flow.jpg", alt="task flow")
          .col-md-6
            img(src="/img/work/condominium/board.jpg", alt="board")

article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title WIREFRAMES
      .col-md-8
        h2
        p My next step was to visualize the user task flow. I started with some quick sketches and continued with creating high-fidelity mockups. Since we were going to use the mockups for user validation, we used as much real data as possible.
        .row
          .col-md-12.col-md-offset-3x
            img(src="/img/work/condominium/wireframe.png", alt="wireframe")


article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-4
        h2.section-title INTERFACE
      .col-md-8
        h2
        p By watching our test users use and fumble through our product or even just imagining using it, we quickly identified areas, where app is not simple or clear enough. We also made a commitment to make simplicity our top priority from day one and filtered every wireframe and piece of copy through questions: Is it simple enough? Is there anything we could simplify?    
    .row
      .col-md-offset-2.col-xs-12.col-md-8
        img(src="/img/work/condominium/outcome2.png", alt="outcome")


.container
  a(href="{{site.baseurl}}/work/parla/")
    .col-xs-12.col-md-8.col-md-offset-4.text-left
      h2.work-linehigh.text-underline-0.color-0.circular parla →
