section#contact-section
  .row
    .col-md-3
      h2.section-title Contact
    .col-md-8
      h1.circular.mail
        a(href='mailto:yay@rafaelmedina.me?subject=rafaelmdina.me').text-underline-0.black-0  hello[at]rafaelmedina.me
      .row
        .col-md-4        
          .social-section
            br
            p.bold.black-0 Social Media
            p.options
            a.sc-link(href='https://github.com/zxhadow', target='_blank').text-underline-1 github
            br
            a.sc-link(href='http://www.linkedin.net/rafaelmedinareyna', target='_blank').text-underline-1 linkedin
            br
            a.sc-link(href='https://www.behance.net/rafael-medina', target='_blank').text-underline-1 behance
            br
            a.sc-link(href='https://github.com/zxhadow', target='_blank').text-underline-1 github
            br
            a.sc-link(href='http://www.linkedin.net/rafaelmedinareyna', target='_blank').text-underline-1 linkedin
            br
            a.sc-link(href='https://www.behance.net/rafael-medina', target='_blank').text-underline-1 behance
            
            
        .col-md-4        
          .social-section
            br
            p.bold.black-0 More
            p.options
            a.sc-link(href='https://github.com/zxhadow', target='_blank') github
            br
            a.sc-link(href='http://www.linkedin.net/rafaelmedinareyna', target='_blank') linkedin
            br
            a.sc-link(href='https://www.behance.net/rafael-medina', target='_blank') behance
            
        
