
.container
  .divider
    .row
      .div(style='left: 0px; top: 0px; height: 24px; z-index: 119;')
            svg(xmlns='http://www.w3.org/2000/svg', version='1.1', width='100%', height='24px')
              path(d='M0 12.5 L1119 12.5', style='fill:none; stroke:rgb(221,221,221);stroke-width:1')
