footer(role="contentinfo")#footer-section
  hr
  br
  .container
    .row
      .col-md-2.col-xs-3
        a.sc-link(href='http://www.linkedin.net/rafaelmedian', target='_blank').circular linkedin
        br   
        a.sc-link(href='https://github.com/rafaelmedian', target='_blank').circular github
      .col-md-2.col-xs-3
        a.sc-link(href='https://www.behance.net/rafaelmedian', target='_blank').circular behance
        br
        a.sc-link(href='https://speakerdeck.com/rafaelmedian', target='_blank').circular speakerdeck
      .col-md-2.col-xs-3
        a.sc-link(href='https://instagram.com/rafaelmedian', target='_blank').circular instagram
      .col-xs-12.col-md-offset-2.col-md-4.margin-top-25.write-email
        p.no-margin.color-6 Write me an email
        h3.circular.mail
          a.color-0  hello@rafaelmedina.me
