footer#footer-section
  .container.margin-bottom-25
    .row.top-line
      .col-md-6.col-xs-8
        h4.section-title CONTACT
  .container
    .row.no-gutter-left
      .col-md-2.col-xs-3
        a.sc-link(href='http://www.linkedin.net/rafaelmedinareyna', target='_blank').circular linkedin
        br
        a.sc-link(href='https://github.com/zxhadow', target='_blank').circular github
      .col-md-2.col-xs-3
        a.sc-link(href='https://www.behance.net/rafael-medina', target='_blank').circular behance
        br
        a.sc-link(href='https://speakerdeck.com/zxhadow', target='_blank').circular speakerdeck
      .col-md-2.col-xs-3
        a.sc-link(href='https://angel.co/rafael-medina-reyna', target='_blank').circular angel.co
      .col-xs-12.col-md-offset-2.col-md-4.margin-top-25
        p.no-margin Write me an email
        h3.circular.mail
          a(href='mailto:hello@rafaelmedina.me?subject=rafaelmdina.me').text-underline-1.color-0  hello[at]rafaelmedina.me
