footer(role="contentinfo")#footer-section
  hr
  .container.margin-bottom-25
    .row
      .col-md-6.col-xs-8
        h4.section-title CONTACT
  .container
    .row
      .col-md-3.col-xs-4.padding-left-0
        a.sc-link(href='http://www.linkedin.com/in/rafaelmedian/', target='_blank').work-sans linkedin
        br
        a.sc-link(href='https://github.com/rafaelmedian', target='_blank').work-sans github
      .col-md-3.col-xs-4
        a.sc-link(href='https://www.behance.net/rafaelmedian', target='_blank').work-sans behance
        br 
        a.sc-link(href='https://twitter.com/rafaelmedian', target='_blank').work-sans twitter
      .col-md-3.col-xs-6
        a.sc-link(href='https://instagram.com/rafaelmedian', target='_blank').work-sans instagram
        br 
        a.sc-link(href='https://dribbble.com/rafaelmedian', target='_blank').work-sans dribbble
      
      .col-xs-12.col-md-3.margin-top-25.write-email
        p.no-margin.color-6 Write me an email  
        h3.work-sans.mail
          a.color-0 hello@rafaelmedina.me
