.container
  a(href="{{site.baseurl}}/work/webpack-config.html")
    .col-xs-12.col-md-12.text-center
      h2.work-linehigh.text-underline-0.color-0.circular webpack →
  //- a(href="/parla.html")
  //-   .col-xs-6.col-md-6.text-right
  //-     h4.work-linehigh.work-project-subtitle Parla →
