section(role="main").margin-bottom-75
  .container
    .row
      .col-md-8.col-md-offset-3.col-sx-12
        .intro-text
          h1.work-sans.title.intro-title.color-0 Google Edu Directory
        p Worked along with a manager and a designer to redesign the Google Education Directory, empowering more than +4,000 educators to help around +300 schools from 25 countries.

//- article(role="article").no-margin-bottom.margin-top-50
//-   .container
//-     .row
//-       .col-xs-12.col-md-12
//-         img(src="/img/work/google-edu/google-edu-redesign.jpg", alt="google design on a tablet").no-margin-bottom

article(role="article").no-margin-top
  hr
  .container.margin-top-25
    .row
      .col-md-3
        .row
          p
          .col-xs-3
            h2.section-description.muted.no-margin Name
          .col-xs-6
            h2.section-description.no-margin Google Edu
        .row
          .col-xs-3
            h2.section-description.muted.no-margin Year
          .col-xs-6
            h2.section-description.no-margin 2018
        .row
          .col-xs-3
            h2.section-description.muted.no-margin Role
          .col-xs-6
            h2.section-description.no-margin Designer
            
      .col-md-8
        p 
        p In the course of a few weeks we took the Google Edu Directory platform and completely revamped it. I took force with a team of 4, a product manager, another designer and a developer to complete the project. 
        //- p It is essential to look into other players on the market and understand the products that we are going to compete. We have two main categories in the direct competition, software companies who offer the service and other traditional cleaning service companies.
        //- h2
        p We focused on specific goals for the project:
        p • User goals and product goals
        p • Gather the community information at a glance
        p • Streamline the connection process

    .row
        .col-md-5.col-sx-12
            img(src="/img/work/google-edu/google-edu-old.jpg", alt="competitors")
        .col-md-7.col-sx-12
            img(src="/img/work/google-edu/google-edu-redesign.jpg", alt="competitors")

article(role="article").no-margin.margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title.margin-bottom-25 WIP
      .col-md-8
        p
        p Case study in progress, contact for more...



section(role="main")#work-section
  .container
    .row
      .col-md-6.col-xs-8
        h2.section-title SEE MORE PROJECTS
  hr
  .container
    .row

      .col-xs-6.col-sm-6.col-md-3.col-md-offset-3.work
        a(href='{{site.baseurl}}/work/condominium').no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-condominium.jpg", alt="Condominium").project-photo
          .tags
            .tag Frontend
            .tag Product Design
            
          .project-text
            p.no-link Designed Lead the UI development of a new application for condominium managers and tenants.
            a.project-description.color-6(href='{{site.baseurl}}/work/condominium').text-underline-1.color-3 See case study
            
      .col-xs-6.col-sm-6.col-md-3.work
        a(href='{{site.baseurl}}/work/starklabs').no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-stark.jpg", alt="stark").project-photo
          .tags
            .tag Illustration
            .tag Design
            .tag Dev.
          .project-text
            p.no-link Developed, illustrated and designed the marketing site for a new Chatbot/Ai development agency.
            a.project-description.color-6(href='https://www.starklabs.io/').text-underline-1.color-3 See case study

      .col-xs-6.col-sm-6.col-md-3.work
        a(href='{{site.baseurl}}/work/turtle').no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-turtle.jpg", alt="turlte app").project-photo
          .tags
            .tag Design
            .tag Frontend
          .project-text
            p.no-link Built a product from scratch alongside a team as cofounders. Reached 3k users during the first week.
            a.project-description.color-6(href='{{site.baseurl}}/work/turtle').text-underline-1.color-3 See case study