header(role="banner")#home-top.nav

  .container
    .row
      .col-md-4.col-xs-2
        #logo.nav.no-gutter-left
          a(href='{{site.baseurl}}/')
            svg(width='48px', height='14px', viewbox='0 0 56 16', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
              title rafael-medina
              g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                g#rafael-logo(fill='#626262')
                  path(d='M8.14,15 L4.9,9.2 L2.78,9.2 L2.78,15 L0.8,15 L0.8,0.82 L6.14,0.82 C7.4466732,0.82 8.4966627,1.2233293 9.29,2.03 C10.0833373,2.8366707 10.48,3.839994 10.48,5.04 C10.48,6.0666718 10.1733364,6.9433297 9.56,7.67 C8.9466636,8.3966703 8.106672,8.859999 7.04,9.06 L10.42,15 L8.14,15 Z M2.78,7.44 L5.78,7.44 C6.580004,7.44 7.2266642,7.2233355 7.72,6.79 C8.2133358,6.3566645 8.46,5.773337 8.46,5.04 C8.46,4.2933296 8.2133358,3.6966689 7.72,3.25 C7.2266642,2.8033311 6.580004,2.58 5.78,2.58 L2.78,2.58 L2.78,7.44 Z M32.4458818,2.07247385 L19.4458818,15.0724738 L18.0175262,13.6441182 L31.0175262,0.644118151 L32.4458818,2.07247385 Z M55.14,15 L53.2,15 L53.2,3.96 L48.36,15 L46.56,15 L41.76,3.96 L41.76,15 L39.82,15 L39.82,0.82 L42.48,0.82 L47.48,12.36 L52.52,0.82 L55.14,0.82 L55.14,15 Z', id='R-—M')

      .col-md-8.col-xs-10
        .row.nav.list
          .col-md-4.col-xs-4.text-left
            a(href='{{site.baseurl}}/about.html' class="{% if page.url == '/about.html' %}current{% endif%}") About
          .col-md-4.col-xs-4.text-center
            a(href='{{site.baseurl}}/books.html') Books
          .col-md-4.col-xs-4.text-right
            a(href='mailto:hello@rafaelmedina.me?subject=rafaelmdina.me').text-underline-1.color-0 Chat
