section#interests-section
  .row
    .col-md-3
      h2.section-title Interests
    .col-md-8
      .row
        .col-md-4.offset-md-4
          .social-section
            p.bold.black-0 Dogs & such.
            p Few things bring me such joy as animals do, sadly I don't own a pet.
        .col-md-4.offset-md-4
          .social-section
            p.bold.black-0 Diving.
            p Living & diving in the caribbean created a love for the underwater.
            
      .row
        .col-md-4
          .social-section
            p.bold.black-0 Barbeque.
            p I've taken road trips dedicated to barbeque, aptly named: BBQ tours
            
        .col-md-4
          .social-section
            p.bold.black-0 Ciclyng.
            p.options While there is always a time for walking, I really prefer two wheels.
            
        
