section(role="main")#interests-section
  hr
  .container.margin-top-25
    .row
      .col-md-3.padding-left-0
        h2.section-title PUBLIC SPEAKING
      .col-md-8
        p
        p A considerate amount of my time is spent sharing knowledge with others. Public speaking is a meaningful way to do it while lets you be in touch with your professional communities.
        h2
        p Here are a few talks I've given recently:
        p
        p.bold.margin-0
          a(href="https://www.instagram.com/p/BSTy4SvluOK/?taken-by=rafaelmedian" target="_blank") "Designing a Process"
          p.color-3.bold - Microsoft Dominicana
        h2
        p.bold.margin-0 
          a(href="https://www.instagram.com/p/BSv8ABdlWE4/?taken-by=rafaelmedian" target="_blank") "Dev Ways to Design Interfaces"
          br.color-1
          p.color-3.bold - Las Américas Institute of Technology
        
      
        
  .container
    .row
      .col-xs-6.col-sm-6.col-md-3.col-md-offset-3
        .project-image
          a(href="https://www.instagram.com/p/BSTy4SvluOK/?taken-by=rafaelmedian" target="_blank")
            img(src="{{site.baseurl}}/img/about/speak-1.jpg", alt="speaking 1") 
      .col-xs-6.col-sm-6.col-md-3
        .project-image
          a(href="https://www.instagram.com/p/BSv8ABdlWE4/?taken-by=rafaelmedian" target="_blank")
            img(src="{{site.baseurl}}/img/about/speak-2.jpg", alt="speaking 2")
      .col-xs-6.col-sm-6.col-md-3
        .project-image
          a(href="https://www.instagram.com/p/BSv8ABdlWE4/?taken-by=rafaelmedian" target="_blank")
            img(src="{{site.baseurl}}/img/about/speak-3.jpg", alt="speaking 3")
            



section(role="main")#interests-section
  hr
  .container.margin-top-25
    .row
      .col-md-3.padding-left-0
        h2.section-title Hackathons
      .col-md-8
        p
        p Hackathons are events where people gather to build things on short timeframes, often going from 24 hours to 3 days. I love working with new people and constraints to go out of my comfort zone and experiment.
        h2
        p Here are a few prizes me and my friends won recently:
        h2
        
        //- hacktahon 1
        p.bold.margin-0 3rd Place at Disrupt the District MLH Hackathon 2018 (Capital One). —
          br.color-1
          p.color-3.bold Product Designer / Front-end, “Voluntee” (Washington, D.C.) 
            a(href="http://bit.ly/2GBrfvL" target="_blank").color-3.text-underline-1 http://bit.ly/2GBrfvL
        p.color-1 Designed a map-based application for students to fulfill their volunteer requirements in a fun and timely matter. Researched and tested MVP with other participants. Used React frontend, AWS, and DynamoDB in the backend.
        h2
        
        //- Hackathon 2
        p.bold.margin-0 Best Financial Tech Hack at HoyaHacks 2018 (Georgetown University). —
          br.color-1
          p.color-3.bold Product Designer / Front-end, “Hlth.chain” (Washington, D.C.) 
            a(href="http://bit.ly/2FSrocW" target="_blank").color-3.text-underline-1  http://bit.ly/2FSrocW
        p.color-1 Utilized Blockchain technology to more efficiently solve genome sequencing used to detect potential cancer and genetic anomalies in patients. Implemented would save lives and millions of US dollars for researchers.
        h2
        
        //- Hackathon 3
        p.bold.margin-0 3rd Place at Climathon George Washington University —
          br.color-1
          p.color-3.bold Product Designer / Front-end, “Hello911” (Washington, D.C.) 
            a(href="http://bit.ly/2pjCjWU" target="_blank").text-underline-1.color-3 http://bit.ly/2pjCjWU
        p.color-1 Taking sentiment analysis and voice recognition to gather emergency calls over radio signal and cellular, using recordings to get transcripts to sort, translate, localize and categorize for better response.
        h2
        
        //- Hackathon 4
        p.bold.margin-0 Best Transportation App at AT&T IoT Government Solutions —
          br.color-1
          p.color-3.bold Product Designer, “Flood Map” (Washington, D.C.) 
            a(href="http://soc.att.com/2FgeTe9" target="_blank").color-3.text-underline-1 http://soc.att.com/2FgeTe9
        p.color-1 Leveraged real-time sensor data to determine flooding location and depth, partnering with first responders to plan, deploy, and execute rescues during emergency situations.
        h2
        
  .container
    .row
      .col-xs-6.col-sm-6.col-md-3.col-md-offset-3
        .project-image
          a(href="https://www.instagram.com/p/Bf_O0KLF1Bn/?taken-by=rafaelmedian" target="_blank")
            img(src="{{site.baseurl}}/img/about/hack-1.jpg", alt="speaking 1")
      .col-xs-6.col-sm-6.col-md-3
        .project-image
          a(href="https://developer.att.com/blog/government-hackathon-at-att-forum-winners" target="_blank")
            img(src="{{site.baseurl}}/img/about/hack-2.jpg", alt="speaking 2")
      .col-xs-6.col-sm-6.col-md-3
        .project-image
          a(href="https://www.instagram.com/p/BegaX6aFeJF/?taken-by=rafaelmedian" target="_blank")
            img(src="{{site.baseurl}}/img/about/hack-3.jpg", alt="speaking 3")


    

section(role="main")#interests-section
  hr
  .container.margin-top-25
    .row
      .col-md-3.padding-left-0
        h2.section-title SKILLS
      .col-md-8
        p
        p — Strong foundation in software development 
        p — Experience developing and designing mobile and web apps from scratch
        p — Foundation in digital art and illustration
        p — Branding and art direction experience
        p — Foundation in digital art and illustration
        p — Good at communications, native Spanish speaker
        p — Strong foundation in front-end development
        p — Familiar with Git, terminal commands and Linux
        

section(role="main")#interests-section
  hr
  .container.margin-top-25
    .row
      .col-md-3.padding-left-0
        h2.section-title I LOVE
      .col-md-8
        p
        p — Colaboration, big ideas and relationships
        p — Reading blogs on medium and interesting books
        p — Be constantly in motion learning new things
        p — Having a meal with friends



        
      
      
section(role="main")#interests-section
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title EDUCATION
      .col-md-8
        p
        p.bold.margin-0 CCI Program Scholarship Award
        p.margin-0 Northern Virginia Community College (US State Department Scholarship)
        p.color-6 2017-2018   
       
        p
        br
        p.bold.margin-0 Software Development Associate Degree 
        p.margin-0 Las Americas Institute of Technology (D.R. Government Scholarship)
        p.color-6 2012-2015
      
