section(role="main")#interests-section
  hr
  .container.margin-top-25
    .row
      .col-md-3.padding-left-0
        h2.section-title SKILLS
      .col-md-9
        p
        p — Strong foundation in web design, CSS and HTML
        p — Familiar with Git, basic terminal commands and Software Development
        p — Foundation in digital art and illustration

section(role="main")#interests-section
  hr
  .container.margin-top-25
    .row
      .col-md-3.padding-left-0
        h2.section-title I LOVE
      .col-md-9
        p
        p — Colaboration, big ideas and relationships
        p — Reading blogs on medium and interesting books
        p — Be constantly in motion learning new things
        p — Having a meal with friends


section(role="main")#interests-section
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title I HAVE
      .col-md-9
        p
        p — Passion for experience design, with focus on building functional and usable products
        p — Doing research, value propositions and information structure
        p — Strong eye for clean, pixel perfect design and a relentless attention to detail 
        p — Sketching, creating wireframes, prototyping, storytelling
        p — Usability testing (SUS), identifying red routes and card sorting
        p — Strong sense of design theory and typography
        p — Very positive attitude with an empathetic and holistic view
        
      
      
section(role="main")#interests-section
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title EDUCATION
      .col-md-9
        p
        p.bold.margin-0 CCI Program (US State Department Scholarchip)
        p.margin-0 Northern Virginia Community College
        p.color-6 2017-2018   
        p
        br
        p
        p.bold.margin-0 Software Development Associate Degree
        p.margin-0 Las Americas Institute of Technology
        p.color-6 2012-2015
        p
        br
        p.bold.margin-0 Software Engineering
        p.margin-0 APEC University
        p.color-6 2015-2018        
