section#interests-section
  .row
    .col-md-3
      h2.section-title Interests
    .col-md-8
      .row
        .col-md-10.offset-md-4
          .social-section
            p.bold.black-0 Pets and Dogs.
            p Few things bring me such joy as animals do, sadly I don't own a pet.
        .col-md-10.offset-md-4
          .social-section
            p.bold.black-0 Pets and Dogs.
            p Few things bring me such joy as animals do, sadly I don't own a pet.
            
      .row
        .col-md-10
          .social-section
            p.bold.black-0 Pets and Dogs.
            p Few things bring me such joy as animals do, sadly I don't own a pet.
            
        .col-md-12
          .social-section
            p.bold.black-0 More
            p.options Few things bring me such joy as animals do, sadly I don't own a pet.
            
        
