section(role='main')#intro-section
  .container
    .row
      .col-md-8.col-md-offset-3.col-sx-12
        .intro-text
          h1.work-sans.title.intro-title.color-0 Rafael — Multifunctional Digital Product Designer.  
        p Looking for new 
          b remote fulltime opportunities. 
          |  You can also check my most recent design work on 
          a(href="https://dribbble.com/rafaelmedian" target="_blank").text-underline-1 Dribbble
          |  or see my 
          a(href="https://drive.google.com/file/d/1M7MxcnEYAlIgL-vkv5cgMzfTMyYuGp1p/view?usp=sharing" target="_blank").text-underline-1 resume
          | .
        //- h4.color-6 Have a freelance project for me? 
        //-   a(href="https://rafael225.typeform.com/to/XPqWC8").intro-title.title.bold.text-underline-1.color-0 Let's work together &rarr;
