section#intro-section
  .row
    .col-md-3
    .col-md-8
      .intro-text
        h1.circular.title
          a(href='#contact-section').text-underline-0.black-0 Rafael Medina —
          br
          span.black-3 Digital Product Designer.
          
          //- | Much of my focus is spent thinking through design systems, designing interfaces, and coding deep into the night.
          br
          //- a(href='#contact-section').text-underline-0.black-0 — .
        p.subtitle
          | 
        
          | Research, wireframes, design & implementation. 
          br
          | Full resumé is available 
          a(href='//google.com').text-underline-1 link here
          
        a(href='mailto:yay@rafaelmedina.me?subject=rafaelmdina.me').bold.black-0 Say Hello —
