section(role='main')#intro-section
  .container
    .row
      .col-md-7.col-md-offset-3.col-sx-12
        .intro-text
          h1.work-sans.title.intro-title.color-0 Rafael — Multifunctional Digital Product Designer.  
        p Looking for new 
          b remote full-time opportunities. 
          |  You can also check my most recent design work on 
          a(href="https://dribbble.com/rafaelmedian" target="_blank").text-underline-1 Dribbble
          |  or see my 
          a(href="https://drive.google.com/file/d/1Pnt2qkI89hpV65SgKxC2CQZV5ewFMN10/view?usp=sharing" target="_blank").text-underline-1 resume
          | .