section#intro-section
  .row
    .col-md-3
    .col-md-8
      .intro-text
        h1.circular.title Rafael Medina — A digital product designer from Santo Domingo,
          | who focuses on interactive experiences & mobile apps. Currently available to 
          a(href='#contact-section').text-underline-0.black-0 freelance.
        p.subtitle
          | Much of my focus is spent thinking through design systems, designing interfaces, and coding deep into the night.
        
          | Full resumé is available 
          a(href='//google.com').text-underline-1 link here
          
        p.bold.black-0 Say Hello —
