section(role='main')#intro-section
  .container
    .row
      .col-md-8.col-md-offset-4.col-sx-12
        .intro-text
          h1.circular.title.intro-title.color-0 Rafael Medina —
            br
            span.color-3 A designer who loves minimalism and code.
            
            br
          p.subtitle
            a(href='mailto:hello@rafaelmedina.me?subject=rafaelmdina.me').text-underline-1 Available for freelance work
            |  →
