section#intro-section
  .container
    .row
      .col-md-8.col-md-offset-3.col-sx-12
        .intro-text
          h1.circular.title.intro-title
            a(href='#contact-section').text-underline-0.black-0 Rafael Medina —
            br
            span.black-3 Digital Product Designer.
            
            //- | Much of my focus is spent thinking through design systems, designing interfaces, and coding deep into the night.
            br
            //- a(href='#contact-section').text-underline-0.black-0 — .
          p.subtitle
            | 
          
            | Research, wireframes, design & implementation. 
            br 
            span
              a(href='https://drive.google.com/file/d/0BzJ3y6oFxNnJUjZJTHg1N1oxZHM/view?usp=sharing').text-underline-1 resume
            span  
            span   | 
              a(href='http://www.linkedin.net/rafaelmedinareyna').text-underline-1 linkedin
            span   
            span    |   
              a(href='https://github.com/zxhadow').text-underline-1 github
            
            
          a(href='mailto:yay@rafaelmedina.me?subject=rafaelmdina.me').bold.black-0 Say Hello —
