section#books-section
  .container-fluid
    .row
      .col-md-3
        h2.section-title Books
      .col-md-8
        .row
          .col-md-12
            .social-section
              p.bold.color-0 
                a.sc-link(href='http://goo.gl/zgIHxZ', target='_blank').text-underline-1 Delivering Happiness: A Path to Profits, Passion, and Purpose
                br
                span by Tony Hsieh
              p After reading this book, I understand that how important our customer is. How company culture and value have a huge impact on the whole business. "Delivering Happiness" has become the trade phrase for me.
              br
          .col-md-12
            .social-section
              p.bold.color-0 
                a.sc-link(href='http://goo.gl/VFsTZ5', target='_blank').text-underline-1 Remote: Office Not Required
                br
                span by David Heinemeier Hansson, Jason Fried
              p I have been interested in remote work for a long period of time. This book told me that how a remote team can work well. This book helped me work with my clients who are far from me. It also let me know how amazing the remote work can be.
              br
          .col-md-12
            .social-section
              p.bold.color-0 
                a.sc-link(href='http://goo.gl/FRplB8', target='_blank').text-underline-1 How to Win Friends and Influence People
                br
                span by Dale Carnegie
              p I learned how to treat people in a kind and honest way through this book. It changed my perspective of my life and to be more positive and happy. I read this book soooo many times.
              br
          .col-md-12
            .social-section
              p.bold.color-0 
                a.sc-link(href='http://www.amazon.com/UX-Lean-Startups-Experience-Research/dp/1449334911', target='_blank').text-underline-1 UX for Lean Startups
                br
                span by Laura Klein
              p I learned lots of methods that how to quickly validate the MVP, the market and the problem I assume from this book. It also has many resources about how to conduct user research in lean.
              br
