section#books-section
  .row
    .col-md-3
      h2.section-title Books
    .col-md-8
      .row
        .col-md-10.offset-md-4
          .social-section
            p.bold.black-0 
              a.sc-link(href='https://medium.com/@ra.medina', target='_blank').text-underline-1 Pets and Dogs.
            p Few things bring me such joy as animals do, sadly I don't own a pet.
            br
        .col-md-10.offset-md-4
          .social-section
            p.bold.black-0 Pets and Dogs.
            p Few things bring me such joy as animals do, sadly I don't own a pet.
            
