section#intro-section
  .row
    .col-md-3
    .col-md-8
      .intro-text
        h1.circular.title
          span.black-3 Library.
          
          //- | Much of my focus is spent thinking through design systems, designing interfaces, and coding deep into the night.
          br
          //- a(href='#contact-section').text-underline-0.black-0 — .
        p.subtitle
          | People often ask me what books they should read to learn about design subjects.
          | These are some of my favorites. Most of these are not design related but they had an impact on my way of thinking. 
