section(role="main")#intro-section
  .row
    .col-md-3
    .col-md-8
      .intro-text
        h1.circular.title.intro-title
          span.color-3.h3 UI/UX Design
          p Parla
        p Parla was a native iOS application that works to take some surveys in an interactive way, giving points to the users and later on let them use them, working alongside their older sms system.
        p The project got cancelled while developing it, but gained knowlege implementing and using Xcode and Swift animations and interface.
        .row
          .col-md-12
            img(src="/img/work/parla/login.jpg", alt="login parla")

        
article(role="article").top-line
  .row
    .col-md-3
      h2.section-title THE PROBLEM
    .col-md-8
      h2
      p After some market research and competitor’s analysis, we found that there are few similar mobile apps that provide the same functionality, but they all offer complex and buggy solutions. But after all, must condo management companies and board members used pen and paper, making this our main competitor. The places that did not do use software at all.
      p The client's main idea was to create a condos management app that would stand out. Creating great user centric oriented experiences and meet the admin user expectations by allowing them to easily create, edit buildings and solve problems as quickly as possible. And thus letting the end users, the ones living in the condo trust and use their accounts.
      .row
        .col-md-12
          img(src="/img/work/parla/intro.jpg", alt="intro parla")

article(role="article").top-line
  .row
    .col-md-3
      h2.section-title THE PROBLEM
    .col-md-8
      h2
      p After some market research and competitor’s analysis, we found that there are few similar mobile apps that provide the same functionality, but they all offer complex and buggy solutions. But after all, must condo management companies and board members used pen and paper, making this our main competitor. The places that did not do use software at all.
      p The client's main idea was to create a condos management app that would stand out. Creating great user centric oriented experiences and meet the admin user expectations by allowing them to easily create, edit buildings and solve problems as quickly as possible. And thus letting the end users, the ones living in the condo trust and use their accounts.
      .row
        .col-md-12
          img(src="/img/work/parla/panel.png", alt="login parla")
      .row
        .col-md-12
          img(src="/img/work/parla/end.png", alt="login parla")
