section(role="main")#intro-section
  .container
    .row
      .col-md-8.col-md-offset-4
        .intro-text
          h1.circular.title.intro-title
            span.color-3.h3 UI/UX Design
            p Parla
          p Parla was a native iOS application that works to take some feedback from clients in an interactive way, giving points to the users and later on let them use them, working alongside their older SMS system.
          p The project got canceled while developing it but gained knowledge implementing and using Xcode and Swift animations and interface.
        .row
          .col-md-12
            img(src="/img/work/parla/login.jpg", alt="login parla")

          
article(role="article")
  hr
  .container
    .row
      .col-md-4
        h2.section-title THE PROBLEM
      .col-md-8
        p
        p There was little to no engagement with the actual brand; it was seen as old and inefficient technologically speaking. So the marketers inside the company bring the problem to us, and this was our story to make it right.
        p Gamification is principal subject; the app will be working alongside some mortgage calculators and features, but as a demo, we showed this one as a completely separated app.
        .row
          .col-md-12
            img(src="/img/work/parla/intro.jpg", alt="intro parla")

article(role="article")
  hr
  .container
    .row
      .col-md-4
        h2.section-title THE OUTCOME
      .col-md-8
        p
        p We presented our functional MVP demo in two weeks, I did not knew nothing about iOS development before this project.
        .row
          .col-md-12
            img(src="/img/work/parla/panel.png", alt="login parla")
        .row
          .col-md-12
            img(src="/img/work/parla/end.png", alt="login parla")
            
article(role="article")
  .container
    a(href="{{site.baseurl}}/work/webpack-config.html")
      .col-xs-12.col-md-12.text-center
        h2.work-linehigh.text-underline-0.color-0.circular webpack →
    
