section(role="main")#intro-section
  .container
    .row
      .col-md-8.col-md-offset-3
        .intro-text
          h1.work-sans.title.intro-title
            //- span.color-3.h3 Web Design
            p Stark Labs
          p 
            a(href="https://www.starklabs.io/" target="_blank").text-underline-1 Stark Labs
            |   A company that develops enterprise automation tasks with various tools as a service. Specializing in building custom bots and AI platforms.
  
        .row
          .col-md-12
            img(src="/img/work/starklabs/bots.jpg", alt="intugin")


article(role="article").no-margin-top
  hr
  .container.margin-top-25
    .row
      .col-md-3
        .row
          p
          .col-xs-3
            h2.section-description.muted.no-margin Name
          .col-xs-6
            h2.section-description.no-margin Stark Labs
        .row
          .col-xs-3
            h2.section-description.muted.no-margin Year
          .col-xs-6
            h2.section-description.no-margin 2017
        .row
          .col-xs-3
            h2.section-description.muted.no-margin Website
          .col-xs-6
            h2.section-description.no-margin 
              a(href="https://www.starklabs.io/" target="_blank") starklabs.io
              
        .row
          .col-xs-3
            h2.section-description.muted.no-margin Code
          .col-xs-6
            h2.section-description.no-margin 
              a(href="https://github.com/rafaelmedian/starklabs" target="_blank") Github
            
      .col-md-8
        p 
        p We had a problem; the client told about the need of some brand design for a new company she wanted to start. We sat down and brainstormed ideas and services that were simple enough to launch without technical skills. 
        p The client and me, tried to be effective during our research phase, making it short and useful. We gathered data from user feedback, reports, and competitive analysis. We continued to create assumptions that we later validated with surveys and interviews of the staff.
    
    .row
      .col-md-9.col-md-offset-3.col-sx-12
        img(src="/img/work/starklabs/research.jpg", alt="research")
 
article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title THE PROCESS
      .col-md-8
        p
        p We decided to design and developed a quick new website, in order to test the business idea. The site serves as a point of trust and marketing, creating interest for developers to apply and clients to work with us.
  
      .col-md-9.col-md-offset-3.col-sx-12
        .col-md-3
          img(src="/img/work/starklabs/sketch.jpg", alt="Sketches")
        .col-md-9
          img(src="/img/work/starklabs/elements.jpg", alt="Elements of the site")
        .col-md-12
          img(src="/img/work/starklabs/atom-stark.png", alt="Code of the site")
    .row
      .col-md-9.col-md-offset-3.col-sx-12
        img(src="/img/work/starklabs/desktop-starkai.jpg", alt="branding webpack-plugin")
      .col-md-9.col-md-offset-3.col-sx-12
        img(src="/img/work/starklabs/desktop-form.jpg", alt="form").shadow-1




section(role="main")#work-section
  .container
    .row
      .col-md-6.col-xs-8
        h2.section-title SEE MORE PROJECTS
  hr
  .container
    .row
      .col-xs-6.col-sm-6.col-md-3.col-md-offset-3.work
        a(href='{{site.baseurl}}/work/clean-crm').no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-crm.jpg", alt="crm").project-photo
          .tags
            .tag Product Lead
            .tag Product Design
          
          .project-text
            p.no-link Designed and lead the development of a CRM tool for a cleaning service company based in NYC.
            a.project-description.color-6(href='{{site.baseurl}}/work/clean-crm').text-underline-1.color-3 See case study

      .col-xs-6.col-sm-6.col-md-3.work
        a(href='{{site.baseurl}}/work/condominium').no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-condominium.jpg", alt="Condominium").project-photo
          .tags
            .tag Frontend
            .tag Product Design
          .project-text
            p.no-link Designed Lead the UI development of a new application for condominium managers and tenants.
            a.project-description.color-6(href='{{site.baseurl}}/work/condominium').text-underline-1.color-3 See case study
      
      .col-xs-6.col-sm-6.col-md-3.work
        a(href='{{site.baseurl}}/work/starklabs').no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-stark.jpg", alt="stark").project-photo
          .tags
            .tag Illustration
            .tag Design
            .tag Dev.
          .project-text
            p.no-link Developed, illustrated and designed the marketing site for a new Chatbot/Ai development agency.
            a.project-description.color-6(href='{{site.baseurl}}/work/starklabs').text-underline-1.color-3 See case study
