section(role="main").margin-bottom-50
  .container
    .row
      .col-md-8.col-md-offset-3.col-sx-12
        .intro-text
          h1.work-sans.title.intro-title.color-0 Turtle 
        p Turtle is an anonymous messaging app that lets users start conversations with each other while staying anonymous for three days. After three days, the user who began the conversation will be revealed to the other user.


article(role="article").margin-top-50
  .container
    .row
      .col-md-8.col-md-offset-3.col-sx-12
        .video-container.videoContainer.img-box
          iframe.video(title='turtle-video' src='https://www.youtube.com/embed/IAHmu0lhcIs', frameborder='0', allowfullscreen='' class="video img image")

        //- <div class="videoContainer"><iframe title="turtle-video" src="https://www.youtube.com/embed/IAHmu0lhcIs" frameborder="0" allowfullscreen="" class="video"></iframe></div>


article(role="article").no-margin-top
  hr
  .container.margin-top-25
    .row
      .col-md-3
        .row
          p
          .col-xs-3
            h2.section-description.muted.no-margin Name
          .col-xs-6
            h2.section-description.no-margin Turtle
        .row
          .col-xs-3
            h2.section-description.muted.no-margin Year
          .col-xs-6
            h2.section-description.no-margin 2017
        .row
          .col-xs-3
            h2.section-description.muted.no-margin Role
          .col-xs-6
            h2.section-description.no-margin Designer
        .row
          .col-xs-3
            h2.section-description.muted.no-margin URL
          .col-xs-6
            h2.section-description.no-margin 
              a(href="https://itunes.apple.com/us/app/turtle-chat-anonymously/id1313518475?mt=8" target="_blank") Turtle.lol

        
            
      .col-md-8
        p 
        p After thoroughly testing more builds of the app, my team and I decided it was time to distribute a build of the app to beta testers. We obtained over 500 signups to test the beta, most of the users were college and high school students within the Virginia area. We had set up a dispatch system within the app to collect user feedback and suggestions for new features.
      
        

    .row
      .col-md-offset-3.col-md-8.col-xs-12
        img(src="/img/work/turtle/img17.png", alt="screen maps")


article(role="article").no-margin.margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title.margin-bottom-25 RESEARCH
      .col-md-7
        p
        p I stumbled upon a lot of anonymous apps, but none that revolved the idea of temporary anonymity explicitly. The most popular anonymous apps I found were all in the form of public forums, not private messaging. Additionally, they were functioning with permanent anonymity.
      
      .row
        .col-md-8.col-md-offset-3.col-sx-12
          img(src="/img/work/turtle/img1.png", alt="competitors")

      .row
        .col-md-8.col-md-offset-3.col-sx-12
          img(src="/img/work/turtle/competitors.png", alt="competitors")

      .row
        .col-md-8.col-md-offset-3.col-sx-12
          img(src="/img/work/turtle/img7.png", alt="competitors")


          
article(role="article").margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title INBOX AND REVEALED
      .col-md-8
      
      .row
        .col-md-offset-3.col-md-8.col-xs-12
          img(src="/img/work/turtle/inbox.png", alt="screen maps")
          
      .row
        .col-md-offset-3.col-md-7.col-xs-12
          img(src="/img/work/turtle/img8_1.png", alt="screen maps")
          
      .row
        .col-md-offset-3.col-md-8.col-xs-12
          img(src="/img/work/turtle/img8_2.png", alt="screen maps")
        
        
article(role="article").margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title HINTS
      .col-md-9
        p
        p The messaging pages of Turtle are very similar to the architecture of any typical messaging app. With Turtle, I added the timer to the top right of the page so users can easy toggle it and view how much time is left until anonymous is revealed. Additionally, I added a pill shaped container in top center to display the recipient’s name. That pill can be toggled to view their profile.
        .margin-top-25
    .row
      .col-md-9.col-md-offset-3.col-sx-12
        img(src="/img/work/turtle/img11.png", alt="competitors")

    .row
      .col-md-9.col-md-offset-3.col-sx-12
        img(src="/img/work/turtle/img12.png", alt="competitors")

    .row
      .col-md-9.col-md-offset-3.col-sx-12
        img(src="/img/work/turtle/img13.png", alt="competitors")



article(role="article").margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title Onboarding
      .col-md-9
        p
        p It felt very fulfilling to be able to test an early build of the app. Although it was very early on, the app felt very refined due to the fantastic work of my CTO and talented team of developers. Something I wanted to test heavily was the gestures and navigation movements. I wanted to make sure that there wasn’t any friction when it came to gestures and switching between pages.
        .margin-top-25
          .row
            .col-xs-12.col-md-12
              img(src="/img/work/turtle/img16.png", alt="competitors")

          .row
            .col-xs-12.col-md-12
              img(src="/img/work/turtle/img19.png", alt="screen maps")
            
    .row
      .col-md-offset-3.col-md-6.col-xs-12
        img(src="/img/work/turtle/img20.png", alt="screen maps")
            
    .row
      .col-md-offset-3.col-md-6.col-xs-12
        img(src="/img/work/turtle/img21.png", alt="screen maps")




article(role="article").margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title Days feature
      .col-md-8
        p
        p Another feature we implemented was referred to as the Days feature. The Days feature is a public list that would display the people you’ve chatted with after they’ve been revealed. This feature was aimed to help users find other people to talk to, as well as a scoreboard incentive to keep users motivated to find more people to chat with.
        
    .row
      .col-md-offset-3.col-md-8.col-xs-12
        img(src="/img/work/turtle/img22.png", alt="screen maps")
    



article(role="article").margin-top-25
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title People involved
      .col-md-8
        p
        p Although I’ve never been in the same room or time zone as them, communication and collaboration has never been a problem. They’re a talented bunch who all come from very diverse backgrounds and area of expertise.
 
        .row
          .col-md-6.col-xs-12
            .row
              .col-md-3.col-xs-2
                img(src="/img/work/turtle/profiles/rafael.png", class="", alt="profile") 
              .col-md-9.col-xs-9
                h1.margin-top-10
                h5.section-title.no-margin Rafael Medina 
                p.section-description.no-margin Co-Founder & Design, US 🇺🇸
            
            .row
              .col-md-3.col-xs-2
                img(src="/img/work/turtle/profiles/nick.png", class="", alt="profile") 
              .col-md-9.col-xs-9
                h1.margin-top-10
                h5.section-title.no-margin Nick Sarath 
                p.section-description.no-margin CEO & Design, US 🇺🇸

            .row
              .col-md-3.col-xs-2
                img(src="/img/work/turtle/profiles/don.png", class="", alt="profile") 
              .col-md-9.col-xs-9
                h1.margin-top-10
                h5.section-title.no-margin Don Bytyqi 
                p.section-description.no-margin Co-Founder & CTO, Kosovo 🇽🇰

            .row
              .col-md-3.col-xs-2
                img(src="/img/work/turtle/profiles/louis.png", class="", alt="profile") 
              .col-md-9.col-xs-9
                h1.margin-top-10
                h5.section-title.no-margin Louis Vedel 
                p.section-description.no-margin iOS Engineer, France 🇫🇷

            .row
              .col-md-3.col-xs-2
                img(src="/img/work/turtle/profiles/ben.png", class="", alt="profile") 
              .col-md-9.col-xs-9
                h1.margin-top-10
                h5.section-title.no-margin Benjamin Alardin 
                p.section-description.no-margin Animator, France 🇫🇷

            .row
              .col-md-3.col-xs-2
                img(src="/img/work/turtle/profiles/calum.png", class="", alt="profile") 
              .col-md-9.col-xs-6
                h1.margin-top-10
                h5.section-title.no-margin Calum Patrick
                p.section-description.no-margin Web Developer, Canada 🇨🇦


section(role="main")#work-section
  .container
    .row
      .col-md-6.col-xs-8
        h2.section-title SEE MORE PROJECTS
  hr
  .container
    .row

      .col-xs-6.col-sm-6.col-md-3.col-md-offset-3.work
        a(href='{{site.baseurl}}/work/condominium').no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-condominium.jpg", alt="Condominium").project-photo
          .tags
            .tag Frontend
            .tag Product Design
            
          .project-text
            p.no-link Designed Lead the UI development of a new application for condominium managers and tenants.
            a.project-description.color-6(href='{{site.baseurl}}/work/condominium').text-underline-1.color-3 See case study
            
      .col-xs-6.col-sm-6.col-md-3.work
        a(href='{{site.baseurl}}/work/starklabs').no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-stark.jpg", alt="stark").project-photo
          .tags
            .tag Illustration
            .tag Design
            .tag Dev.
          .project-text
            p.no-link Developed, illustrated and designed the marketing site for a new Chatbot/Ai development agency.
            a.project-description.color-6(href='https://www.starklabs.io/').text-underline-1.color-3 See case study

      .col-xs-6.col-sm-6.col-md-3.work
        a(href='{{site.baseurl}}/work/clean-crm').no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-crm.jpg", alt="crm").project-photo
          .tags
            .tag Product Lead
            .tag Product Design
            
          .project-text
            p.no-link Designed and lead the development of a CRM tool for a cleaning service company based in NYC.
            a.project-description.color-6(href='{{site.baseurl}}/work/clean-crm').text-underline-1.color-3 See case study