section(role="main")#intro-section
  .container
    .row
      .col-md-8.col-md-offset-3
        .intro-text
          h1.work-sans.title.intro-title
            p Webpack conf plugin
          p 
            a(href="https://github.com/rmariuzzo/config-webpack-plugin").text-underline-1 webpack-config-plugin
            |  is a 
            a(href="#").text-underline-1 webpack
            |  configuration plugin that helps you merge one or more configuration files together with environment variables.
          p I took a few hours of my leisure time to build a simple branding and website.
        .row
          .col-md-12
            img(src="/img/work/webpack-plugin/banner-styled.jpg", alt="intro webpack-plugin").shadow-1
 
article(role="article")
.container.margin-top-25
  .row
    .col-md-3
      .row
        p
        .col-xs-3
          h2.section-description.muted.no-margin Name
        .col-xs-6
          h2.section-description.no-margin Webpack-conf
      .row
        .col-xs-3
          h2.section-description.muted.no-margin Year
        .col-xs-6
          h2.section-description.no-margin 2016
      .row
        .col-xs-3
          h2.section-description.muted.no-margin Code
        .col-xs-6
          h2.section-description.no-margin 
            a(href="https://github.com/rmariuzzo/config-webpack-plugin" target="_blank") GitHub
          
    .col-md-8
      p 
      p A simple "how it works" was needed, and decided to design a fast new website. The site serves as a point of trust and marketing, creating interest for developers to star the project.
      //- p As designers, we should be pushing more open design processes. I firmly believe in open source software, where is way more needed now than ever.

      
article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title THE BRANDING
      .col-md-9
        p
        p A logo that would meant a plugin and using similary with the webpack actual branding.
        .row
          .col-md-12
            img(src="/img/work/webpack-plugin/branding.png", alt="branding webpack-plugin")
          
article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title THE PROCESS
      .col-md-9
        p
        p A few screens that will be animated in order to simply explain this plugin.
        .row
          .col-md-12
            img(src="/img/work/webpack-plugin/terminals.png", alt="Terminal windows process animation")


article(role="article")
  hr
  .container.margin-top-25
    .row
      .col-md-3
        h2.section-title THE OUTCOME
      .col-md-9
        .row
          .col-md-12
            img(src="/img/work/webpack-plugin/website.jpg", alt="website webpack-plugin").shadow-1


section(role="main")#work-section
  .container
    .row
      .col-md-6.col-xs-8
        h2.section-title SEE MORE PROJECTS
  hr
  .container
    .row
      .col-xs-6.col-sm-6.col-md-3.col-md-offset-3.work
        a(href='{{site.baseurl}}/work/clean-crm').no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-crm.jpg", alt="crm").project-photo
          .tags
            .tag Product Lead
            .tag Product Design
          
          .project-text
            p.no-link Designed and lead the development of a CRM tool for a cleaning service company based in NYC.
            a.project-description.color-6(href='{{site.baseurl}}/work/clean-crm').text-underline-1.color-3 See case study

      .col-xs-6.col-sm-6.col-md-3.work
        a(href='{{site.baseurl}}/work/condominium').no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-condominium.jpg", alt="Condominium").project-photo
          .tags
            .tag Frontend
            .tag Product Design
          .project-text
            p.no-link Designed Lead the UI development of a new application for condominium managers and tenants.
            a.project-description.color-6(href='{{site.baseurl}}/work/condominium').text-underline-1.color-3 See case study
      
      .col-xs-6.col-sm-6.col-md-3.work
        a(href='{{site.baseurl}}/work/starklabs').no-link
          .project-image
            img(src="{{site.baseurl}}/img/preview/work-preview/work_preview-stark.jpg", alt="stark").project-photo
          .tags  
            .tag Illustration
            .tag Design
            .tag Dev.
          .project-text
            p.no-link Developed, illustrated and designed the marketing site for a new Chatbot/Ai development agency.
            a.project-description.color-6(href='{{site.baseurl}}/work/starklabs').text-underline-1.color-3 See case study
