section(role="main")#intro-section
  .container
    .row
      .col-md-8.col-md-offset-4
        .intro-text
          h1.circular.title.intro-title
            span.color-3.h3 Web Design
            p The webpack-config-plugin
          p 
            a(href="https://github.com/rmariuzzo/config-webpack-plugin").text-underline-1 webpack-config-plugin
            |  is a 
            a(href="#").text-underline-1 webpack
            |  configuration plugin that helps you merge one or more configuration files together with environment variables.
          p I took a few hours of my leisure time to build a simple branding and website.
        .row
          .col-md-12
            img(src="/img/work/webpack-plugin/banner-styled.jpg", alt="intro webpack-plugin")
 
article(role="article")
  hr
  .container
    .row
      .col-md-4
        h2.section-title THE PROBLEM
      .col-md-8
        h2
        p A simple "how it works" was needed, and decided to design a fast new website. Serving the purpose to help developers to understand and trust the plugin even more.
        p As designers, we should be pushing more open design processes. I firmly believe in open source software, where is way more needed now than ever.

article(role="article")
  hr
  .container
    .row
      .col-md-4
        h2.section-title THE BRANDING
      .col-md-8
        h2
        p A logo that would meant a plugin and using similary with the webpack actual branding.
        .row
          .col-md-12
            img(src="/img/work/webpack-plugin/branding.png", alt="branding webpack-plugin")
          
article(role="article")
  hr
  .container
    .row
      .col-md-4
        h2.section-title THE PROCESS
      .col-md-8
        h2
        p A few screens that will be animated in order to simply explain this plugin.
        .row
          .col-md-12
            img(src="/img/work/webpack-plugin/terminals.png", alt="Terminal windows process animation")
   

article(role="article")
  hr
  .container
    .row
      .col-md-4
        h2.section-title THE OUTCOME
      .col-md-8
        p
        .row
          .col-md-12
            img(src="/img/work/webpack-plugin/website.jpg", alt="website webpack-plugin")
            
            
.container
  a(href="{{site.baseurl}}/work/condominium/")
    .col-xs-12.col-md-8.col-md-offset-4.text-left
      h2.work-linehigh.text-underline-0.color-0.circular condominium →
