section(role="main")#work-section
  .container
    .row
      .col-md-6.col-xs-8
        h2.section-title WORK IN PROGRESS
  
  hr
  .container
    .row
      .col-md-8.col-md-offset-4
      
.list
  .container.work.work-linehigh
    a(href="work/clean-crm")
     .row.post
       .col-xs-6.col-md-4.padding-left-0
         h4.work-sans.work-project-title Clean CRM
       .col-xs-6.col-md-offset-0.col-md-8
         h5.work-project-subtitle Product Designer
  hr
  .container.work.work-linehigh
    a(href="work/condominium/")
     .row.post
       .col-xs-6.col-md-4.padding-left-0
         h4.work-sans.work-project-title Condominium
       .col-xs-6.col-md-offset-0.col-md-8
         h5.work-project-subtitle Designer + FE Dev
  
