section#work-section
  .row.section-header
    .col-md-5
      h4.section-title SELECTED PROJECTS
    .col-md-6
      h4.section-subtitle.black-6
        a(href='https://www.behance.net/rafael-medina' target='_blank').text-underline-1 View All
  
  .row.reverse
    .col-md-12
        .col-xs-12.col-md-3
          a(href='/')
            h3.title Condominium
            p While Organize the way you live
            a(href='https://github.com/zxhadow').text-underline-1.black-3 See the project
        .col-xs-12.col-md-8
          .project-box
            img(src="img/preview/condominium.png", alt="Condominium")
          
