//- section(role="main")#work-section
//-   hr
//-   br
//-   br
//-   .container
//-     .row
//-       .col-lg-6.col-md-6
//-           a(href="https://dribbble.com/shots/3279026-Cleaning-Service-CRM-Customer-Profile-Dashboard")
//-             img(src="img/preview/intro/cleancrm@2x.jpg", alt="").work-image
//-           h3 Clean CRM
//-           p.color-6 The "Cleaning CRM" project is an admin for a cleaning services startup where admins can manage each booking and client.
//-       .col-lg-6.col-md-6
//-           a(href="/work/parla/")
//-             img(src="img/preview/intro/parla@2x.jpg", alt="").work-image
//-           h3 Parla Mobile
//-           p.color-6 Parla is a native iOS application that works to take feedback from clients in an interactive way, giving points to the users.
//-       .col-lg-6.col-md-6
//-           a(href="/work/webpack/")
//-             img(src="img/preview/intro/config-webpack@2x.jpg", alt="").work-image
//-           h3 Config Webpack
//-           p.color-6 webpack-config-plugin is a webpack configuration plugin that helps you merge configuration files together with environment variables.
//-       
//-       .col-lg-6.col-md-6
//-           a(href="https://www.behance.net/gallery/42983515/Cobblestone", target="_blank")
//-             img(src="img/preview/intro/cobblestone@2x.jpg", alt="").work-image
//-           h3 Cobblestone
//-           p.color-6 Simplify your mortgage application development with the power of Cobblestone. A powerful and flexible API that allows your applications to communicate in any MISMO format.
//-           


section(role="main")#work-section
  .container
    .row
      .col-md-6.col-xs-8
        h2.section-title SELECTED PROJECTS
  hr
  .list
    .container.work
      a(href="https://dribbble.com/shots/3279026-Cleaning-Service-CRM-Customer-Profile-Dashboard" target="_blank")
       .row.post
         .col-xs-6.col-md-4.padding-left-0
           h4.work-linehigh.circular.work-project-title Clean CRM &#128279;
         .col-xs-6.col-md-offset-0.col-md-8.work-linehigh
           h5.work-linehigh.work-project-subtitle Product Designer
    hr
    .container.work
      a(href="https://dribbble.com/shots/3473321-Stark-ai-Landing-Page" target="_blank")
       .row.post
         .col-xs-6.col-md-4.padding-left-0
           h4.work-linehigh.circular.work-project-title Stark.ai &#128279;
         .col-xs-6.col-md-offset-0.col-md-8.work-linehigh
           h5.work-linehigh.work-project-subtitle Web Designer
    hr
    .container.work
      a(href="work/condominium/")
       .row.post
         .col-xs-6.col-md-4.padding-left-0
           h4.work-linehigh.circular.work-project-title Condominium
         .col-xs-6.col-md-offset-0.col-md-8.work-linehigh
           h5.work-linehigh.work-project-subtitle Designer + FE Dev
    //- hr
    //- .container.work
    //-   a(href="work/parla/")
    //-    .row.post
    //-      .col-xs-5.col-md-4.padding-left-0
    //-        h4.work-linehigh.circular.work-project-title Parla
    //-      .col-xs-7.col-md-offset-0.col-md-8.work-linehigh
    //-        h5.work-linehigh.work-project-subtitle UI/UX Designer
    hr
    .container.work    
      a(href="work/webpack/")
       .row.post
         .col-xs-6.col-md-4.padding-left-0
           h4.work-linehigh.circular.work-project-title webpack-config
         .col-xs-6.col-md-offset-0.col-md-8.work-linehigh
           h5.work-linehigh.work-project-subtitle Web Designer
    hr
    .container.work    
      a(href="https://www.behance.net/gallery/42983515/Cobblestone", target="_blank")
       .row.post
         .col-xs-6.col-md-4.padding-left-0
           h4.work-linehigh.circular.work-project-title Cobblestone &#128279;
         .col-xs-6.col-md-offset-0.col-md-8.work-linehigh
           h5.work-linehigh.work-project-subtitle Web Designer
  hr
  //- .container.blocked
  //-   a
  //-    .row.post
  //-      .col-xs-6.col-md-4.padding-left-0
  //-        h4.work-linehigh.circular.work-project-title Cobblestone
  //-      .col-xs-6.col-md-offset-0.col-md-8.work-linehigh
  //-        h5.work-linehigh.work-project-subtitle Coming soon!
  //- hr
  .container.blocked
    a
     .row.post
       .col-xs-6.col-md-4.padding-left-0
         h4.work-linehigh.circular.work-project-title Qualixium
       .col-xs-6.col-md-offset-0.col-md-8.work-linehigh
         h5.work-linehigh.work-project-subtitle Coming soon!
  hr
  .container.blocked
   a
    .row.post
      .col-xs-6.col-md-4.padding-left-0
        h4.work-linehigh.circular.work-project-title Home360
      .col-xs-6.col-md-offset-0.col-md-8.work-linehigh
        h5.work-linehigh.work-project-subtitle Coming soon!
