section(role="main")#work-section
  .container
    .row.work-line
      .col-md-6.col-xs-8
        h4.section-title SELECTED PROJECTS
  .container.works
       a(href="work/parla.html")
         .row.work-line
           .col-xs-3.col-md-3
             h4.work-linehigh.circular.work-project-title Parla
           .col-xs-7.col-xs-offset-2.col-md-offset-0.col-md-8.work-linehigh
             h5.work-linehigh.work-project-subtitle UI/UX Designer 
       a(href="work/webpack-config.html")
         .row
           .col-xs-3.col-md-3
             h4.work-linehigh.circular.work-project-title Webpack
           .col-xs-7.col-xs-offset-2.col-md-offset-0.col-md-8.work-linehigh
             h5.work-linehigh.work-project-subtitle Web Designer  
  
  //- .container  
  //-   .row
  //-     .col-xs-12.col-sm-12.col-md-6
  //-       a(href='work/parla.html')
  //-         .project-image
  //-           img(src="img/preview/parla-text.jpg", alt="Parla")
  //-           
  //-     .col-xs-12.col-sm-12.col-md-6
  //-       a(href='work/condominium.html')
  //-         .project-image
  //-           img(src="img/preview/condominium-text.jpg", alt="Condominium")
  //-       
  //-     .col-xs-12.col-sm-12.col-md-12.margin-top-10
  //-       a(href='work/webpack-config.html')
  //-         .project-image
  //-           img(src="img/preview/config-wide.jpg", alt="webpack")

      
