section#work-section
  .container
    .row.work-line
      .col-md-6.col-xs-8
        h4.section-title SELECTED PROJECTS
      
  .container.works
    a(href="#")
      .row.work-line
        .col-xs-3.col-md-3
          h4.work-linehigh.circular Condominium
        .col-xs-7.col-xs-offset-2.col-md-offset-0.col-md-8.work-linehigh
          h5.work-linehigh Designerads
    a(href="#")
      .row.work-line
        .col-xs-3.col-md-3
          h4.work-linehigh.circular Parla
        .col-xs-7.col-xs-offset-2.col-md-offset-0.col-md-8.work-linehigh
          h5.work-linehigh UI/UX Designer  
        
