section(role="main")#work-section
  .container
    .row
      .col-md-6.col-xs-8
        h4.section-title SELECTED PROJECTS
  hr
  .container.works
    a(href="work/parla.html")
     .row.post
       .col-xs-3.col-md-4.padding-left-0
         h4.work-linehigh.circular.work-project-title Parla
       .col-xs-7.col-xs-offset-2.col-md-offset-0.col-md-8.work-linehigh
         h5.work-linehigh.work-project-subtitle UI/UX Designer
  hr
  .container.works    
    a(href="work/webpack-config.html")
     .row.post
       .col-xs-3.col-md-4.padding-left-0
         h4.work-linehigh.circular.work-project-title webpack
       .col-xs-7.col-xs-offset-2.col-md-offset-0.col-md-8.work-linehigh
         h5.work-linehigh.work-project-subtitle Web Designer
  hr
  .container.blocked
    a
     .row.post
       .col-xs-3.col-md-4.padding-left-0
         h4.work-linehigh.circular.work-project-title Cobblestone
       .col-xs-7.col-xs-offset-2.col-md-offset-0.col-md-8.work-linehigh
         h5.work-linehigh.work-project-subtitle Coming soon!
  hr
  .container.blocked
    a
     .row.post
       .col-xs-3.col-md-4.padding-left-0
         h4.work-linehigh.circular.work-project-title Fullstack
       .col-xs-7.col-xs-offset-2.col-md-offset-0.col-md-8.work-linehigh
         h5.work-linehigh.work-project-subtitle Coming soon!
