section#work-section
  .container
    .row.section-header
      .col-md-6.col-xs-8
        h4.section-title SELECTED PROJECTS
      .col-md-6.col-xs-4
        h4.section-subtitle.black-6
          a(href='https://www.behance.net/rafael-medina' target='_blank').text-underline-1 View All
  .container
    //- .row
    //-   .col-xs-12.col-sm-12.col-md-3
    //-     a(href='/')
    //-       h3.title Condominium
    //-       p While Organize the way you live
    //-       a(href='https://github.com/zxhadow').text-underline-1.black-3 See the project
    //-   .col-xs-12.col-sm-12.col-md-8.col-md-offset-1
    //-       img(src="img/preview/condo-preview.jpg", alt="Condominium")
    .row
      .col-xs-12.col-sm-12.col-md-6
        a(href='https://github.com/rmariuzzo/config-webpack-plugin' target="_blank")
          .project-image
            img(src="img/preview/config-webpack-plugin.jpg", alt="Condominium")
        .project-text
          h3.title.project-title config-webpack-plugin
          p.project-description Contributing designing Open Source plugin for the most popular front-end bundler
            //- a(href='https://github.com/rmariuzzo/config-webpack-plugin').text-underline-1.black-3 See the project
          
      .col-xs-12.col-sm-12.col-md-6
        a(href='/' target="_blank").protected
          .project-image
            img(src="img/preview/condo-preview2.jpg", alt="Condominium")
        .project-text
            h3.title.project-title Condominium
            p.project-description This project is protected until release
            //- a(href='https://github.com/zxhadow').text-underline-1.black-3 See the project
      
