section(role="main")#work-section
  .container
    .row
      .col-md-6.col-xs-8
        h2.section-title SELECTED PROJECTS
  hr
  .container
    .row
      .col-xs-12.col-sm-12.col-md-3
        a(href='https://github.com/rmariuzzo/config-webpack-plugin' target="_blank")
          .project-image
            img(src="img/preview/work-preview/work_preview-crm.jpg", alt="Condominium")
        .project-text
          p Contributing designing Open Source plugin for the most popular front-end bundle
          a.project-description.color-6(href='https://github.com/rmariuzzo/config-webpack-plugin').text-underline-1.color-3 See the project
          
      .col-xs-12.col-sm-12.col-md-3
        a(href='https://github.com/rmariuzzo/config-webpack-plugin' target="_blank")        
          .project-image
            img(src="img/preview/work-preview/work_preview-condominium.jpg", alt="Condominium")
        .project-text
          p Contributing designing Open Source plugin for the most popular front-end bundle
          a.project-description.color-6(href='https://github.com/rmariuzzo/config-webpack-plugin').text-underline-1.color-3 See the project

      .col-xs-12.col-sm-12.col-md-3
        a(href='https://github.com/rmariuzzo/config-webpack-plugin' target="_blank")        
          .project-image
            img(src="img/preview/work-preview/work_preview-stark.jpg", alt="Condominium")
        .project-text
          p Contributing designing Open Source plugin for the most popular front-end bundle
          a.project-description.color-6(href='https://github.com/rmariuzzo/config-webpack-plugin').text-underline-1.color-3 See the project

      .col-xs-12.col-sm-12.col-md-3
        a(href='https://github.com/rmariuzzo/config-webpack-plugin' target="_blank")        
          .project-image
            img(src="img/preview/work-preview/work_preview-webpack.jpg", alt="Condominium")
        .project-text
          p Contributing designing Open Source plugin for the most popular front-end bundle
          a.project-description.color-6(href='https://github.com/rmariuzzo/config-webpack-plugin').text-underline-1.color-3 See the project
