section(role="main")#work-section
  .container
    .row
      .col-md-6.col-xs-8
        h4.section-title SELECTED PROJECTS
  hr
  .list
    .container.work
      a(href="work/parla.html")
       .row.post
         .col-xs-5.col-md-4.padding-left-0
           h4.work-linehigh.circular.work-project-title Parla
         .col-xs-4.col-md-offset-0.col-md-5.work-linehigh
           h5.work-linehigh.work-project-subtitle Designer
         .col-xs-3.col-md-offset-0.col-md-3.work-linehigh.text-right
           h5.work-linehigh.work-project-subtitle Mobile App
    hr
    .container.work    
      a(href="work/webpack-config.html")
       .row.post
         .col-xs-5.col-md-4.padding-left-0
           h4.work-linehigh.circular.work-project-title webpack
         .col-xs-4.col-md-offset-0.col-md-5.work-linehigh
           h5.work-linehigh.work-project-subtitle Web Designer
         .col-xs-3.col-md-offset-0.col-md-3.work-linehigh.text-right
           h5.work-linehigh.work-project-subtitle Website
  hr
  .container.blocked
    a
     .row.post
       .col-xs-6.col-md-4.padding-left-0
         h4.work-linehigh.circular.work-project-title Cobblestone
       .col-xs-6.col-md-offset-0.col-md-8.work-linehigh
         h5.work-linehigh.work-project-subtitle Coming soon!
  hr
  .container.blocked
    a
     .row.post
       .col-xs-6.col-md-4.padding-left-0
         h4.work-linehigh.circular.work-project-title Fullstack
       .col-xs-6.col-md-offset-0.col-md-8.work-linehigh
         h5.work-linehigh.work-project-subtitle Coming soon!
  hr
  .container.blocked
   a
    .row.post
      .col-xs-6.col-md-4.padding-left-0
        h4.work-linehigh.circular.work-project-title CondoMaster
      .col-xs-6.col-md-offset-0.col-md-8.work-linehigh
        h5.work-linehigh.work-project-subtitle Coming soon!
