section#work-section
  .container.margin-bottom-25
    .row.bottom-line
      .col-md-6.col-xs-8
        h4.section-title SELECTED PROJECTS
  .container
    .row
      .col-xs-12.col-sm-12.col-md-6
        a(href='work/parla.html')
          .project-image
            img(src="img/preview/parla-text.jpg", alt="Parla")
            
      .col-xs-12.col-sm-12.col-md-6
        a(href='work/condominium.html')
          .project-image.protected
            img(src="img/preview/condominium-text.jpg", alt="Condominium")
        
      .col-xs-12.col-sm-12.col-md-12.margin-top-10
        a(href='work/webpack-config.html')
          .project-image
            img(src="img/preview/config-wide.jpg", alt="webpack")      

      
