section#work-section
  .container
    .row.section-header
      .col-md-6.col-xs-8
        h4.section-title SELECTED PROJECTS
      .col-md-6.col-xs-4
        h4.section-subtitle.black-6
          a(href='https://www.behance.net/rafael-medina' target='_blank').text-underline-1 View All
  .container
    .row
      .col-xs-12.col-sm-12.col-md-3.col-lg-3
        a(href='/')
          h3.title Condominium
          p While Organize the way you live
          a(href='https://github.com/zxhadow').text-underline-1.black-3 See the project
      .col-xs-12.col-sm-12.col-md-9.col-lg-9
        .project-box
          img(src="img/preview/condominium.png", alt="Condominium")
      
