section(role="main")#work-section
  .container
    .row
      .col-md-6.col-xs-8
        h2.section-title SELECTED PROJECTS
  hr
  .container
    .row
    
      .col-xs-12.col-sm-6.col-md-3.col-md-offset-3.work
        a(href='work/clean-crm').no-link
          .project-image
            img(src="img/preview/work-preview/work_preview-crm.jpg", alt="crm").project-photo
          .tags
            .tag Product Lead
            .tag Product Design
          .project-text
            p.no-link Designed and lead the development of a CRM tool for a cleaning service company based in NYC.
            a.project-description.color-6(href='work/clean-crm').text-underline-1.color-3 See case study

      
      .col-xs-12.col-sm-6.col-md-3.work.protected
        a().no-link.protected
          .project-image
            img(src="img/preview/work-preview/work_preview-google-product.jpg", alt="Condominium").project-photo
          .tags
            .tag Product Design 
            .tag UX
          .project-text
            p.no-link Hired to work with a team redesigning a Google product web app; currently in development.
            a.project-description.color-6(href='work/condominium').color-1 [Protected until release]


      .col-xs-12.col-sm-6.col-md-3.work
        a(href='https://itunes.apple.com/us/app/turtle-chat-anonymously/id1313518475?mt=8' target="_blank").no-link
          .project-image
            img(src="img/preview/work-preview/work_preview-turtle.jpg", alt="turlte app").project-photo
          .tags
            .tag Design
            .tag Frontend
          .project-text
            p.no-link Built a product from scratch alongside a team as cofounders. Reached 4k users during the first week.
            a.project-description.color-6(href='https://itunes.apple.com/us/app/turtle-chat-anonymously/id1313518475?mt=8' target="_blank").text-underline-1.color-3 Download App —


      .col-xs-12.col-sm-6.col-md-3.col-md-offset-3.work
        a(href='work/condominium').no-link
          .project-image
            img(src="img/preview/work-preview/work_preview-condominium.jpg", alt="Condominium").project-photo
          .tags
            .tag Frontend
            .tag Product Design
          .project-text
            p.no-link Designed Lead the UI development of a new application for condominium managers and tenants.
            a.project-description.color-6(href='work/condominium').text-underline-1.color-3 See case study
  
      .col-xs-12.col-sm-6.col-md-3.work
        a(href='{{site.baseurl}}/work/starklabs').no-link
          .project-image
            img(src="img/preview/work-preview/work_preview-stark.jpg", alt="stark").project-photo
          .tags
            .tag Illustration
            .tag Design
            .tag Dev.
          .project-text
            p.no-link Developed, illustrated and designed the marketing site for a new Chatbot development agency.
            a.project-description.color-6(href='{{site.baseurl}}/work/starklabs').text-underline-1.color-3 See case study
  
      //- .col-xs-6.col-sm-6.col-md-3.work
      //-   a(href='work/webpack').no-link
      //-     .project-image
      //-       img(src="img/preview/work-preview/work_preview-webpack.jpg", alt="webpack").project-photo
      //-     .tags
      //-       .tag Design
      //-       .tag Branding
      //-     .project-text
      //-       p.no-link Designing the marketing and brand of an Open Source plugin for the most popular front-end bundle.
      //-       a.project-description.color-6(href='work/webpack').text-underline-1.color-3 See case study
