section(role="main")#work-section
  .container
    .row
      .col-md-6.col-xs-8
        h2.section-title SELECTED PROJECTS
  hr
  .list
    .container.work.work-linehigh
      a(href="work/clean-crm")
       .row.post
         .col-xs-6.col-md-4.padding-left-0
           h4.work-sans.work-project-title Clean CRM
         .col-xs-6.col-md-offset-0.col-md-8
           h5.work-project-subtitle Product Designer
    hr
    .container.work.work-linehigh
      a(href="work/condominium/")
       .row.post
         .col-xs-6.col-md-4.padding-left-0
           h4.work-sans.work-project-title Condominium
         .col-xs-6.col-md-offset-0.col-md-8
           h5.work-project-subtitle Designer + FE Dev
    hr
    .container.work.work-linehigh
      a(href="https://dribbble.com/shots/3473321-Stark-ai-Landing-Page" target="_blank")
       .row.post
         .col-xs-6.col-md-4.padding-left-0
           h4.work-sans.work-project-title Stark.ai &#128279;
         .col-xs-6.col-md-offset-0.col-md-8
           h5.work-project-subtitle Designer
    hr
    .container.work.work-linehigh
      a(href="work/webpack/")
       .row.post
         .col-xs-6.col-md-4.padding-left-0
           h4.work-sans.work-project-title webpack-config
         .col-xs-6.col-md-offset-0.col-md-8
           h5.work-project-subtitle Web Designer
    hr
    .container.work.work-linehigh
      a(href="https://www.behance.net/gallery/42983515/Cobblestone", target="_blank")
       .row.post
         .col-xs-6.col-md-4.padding-left-0
           h4.work-sans.work-project-title Cobblestone &#128279;
         .col-xs-6.col-md-offset-0.col-md-8
           h5.work-project-subtitle Web Designer
  hr
  //- .container.blocked
  //-   a
  //-    .row.post
  //-      .col-xs-6.col-md-4.padding-left-0
  //-        h4.work-linehigh.work-sans.work-project-title Cobblestone
  //-      .col-xs-6.col-md-offset-0.col-md-8.work-linehigh
  //-        h5.work-linehigh.work-project-subtitle Coming soon!
  //- hr
  .container.blocked.work-linehigh
    a
      .row.post.protected
       .col-xs-12.col-md-4.padding-left-0
         h4.work-sans.work-project-title Qualixium
       .col-xs-12.col-md-offset-0.col-md-8
         h5.work-project-subtitle Coming soon!
  hr
  .container.blocked.work-linehigh
    a
      .row.post.protected
        .col-xs-6.col-md-4.padding-left-0
          h4.work-sans.work-project-title Home360
        .col-xs-6.col-md-offset-0.col-md-8
          h5.work-project-subtitle Coming soon!
