section(role="main")#work-section
  .container
    .row
      .col-md-6.col-xs-8
        h2.section-title SELECTED PROJECTS
  hr
  .container
    .row
      .col-xs-6.col-sm-6.col-md-4.work
        a(href='work/clean-crm').no-link
          .project-image
            img(src="img/preview/work-preview/work_preview-crm.jpg", alt="crm").project-photo
          .tags
            .tag Design System
            .tag Product Design
            //- .tag Product Dev.
          .project-text
            p.no-link Designed and lead the development of a CRM tool for a cleaning service company based in NYC.
            a.project-description.color-6(href='work/clean-crm').text-underline-1.color-3 See case study

      .col-xs-6.col-sm-6.col-md-4.work
        a(href='work/condominium').no-link
          .project-image
            img(src="img/preview/work-preview/work_preview-condominium.jpg", alt="Condominium").project-photo
          .tags
            .tag Frontend Dev.
            .tag Product Design
            .tag Branding
          .project-text
            p.no-link Designed Lead the UI development of a new application for condominium managers and tenants.
            a.project-description.color-6(href='work/condominium').text-underline-1.color-3 See case study
            
      .col-xs-6.col-sm-6.col-md-4.work
        a(href='https://www.starklabs.io/' target="_blank").no-link
          .project-image
            img(src="img/preview/work-preview/work_preview-stark.jpg", alt="stark").project-photo
          .tags
            .tag Illustration
            .tag Product Design
            .tag Dev.
          .project-text
            p.no-link Developed and designed the marketing site and concept for a new Chatbot/Ai development agency.
            a.project-description.color-6(href='https://www.starklabs.io/').text-underline-1.color-3 Visit site
  
      .col-xs-6.col-sm-6.col-md-4.work
        a(href='work/webpack').no-link
          .project-image
            img(src="img/preview/work-preview/work_preview-webpack.jpg", alt="webpack").project-photo
          .tags
            .tag Design
            .tag Branding
          //- .tag Product Dev.
          .project-text
            p.no-link Designing the marketing and brand of an Open Source plugin for the most popular front-end bundle.
            a.project-description.color-6(href='work/webpack').text-underline-1.color-3 See case study

      .col-xs-6.col-sm-6.col-md-4.work
        a(href='https://www.behance.net/gallery/42983515/Cobblestone' target="_blank").no-link
          .project-image
            img(src="img/preview/work-preview/work_preview-cobblestone.jpg", alt="cobblestone").project-photo
          .tags
            .tag Design
            .tag Illustration
            //- .tag Product Dev.
          .project-text
            p.no-link Allowing mortgage companies to transform their documents into another formats at ease.
            a.project-description.color-6(href='https://www.behance.net/gallery/42983515/Cobblestone').text-underline-1.color-3 See on Behance
