section#work-section
  .row.section-header
    .col-md-5
      h4.section-title SELECTED PROJECTS
    .col-md-6
      h4.section-subtitle.black-6
        a(href='https://www.behance.net/rafael-medina' target='_blank').text-underline-1 View all on Behance
  
  .row.reverse
    .col-xs-10.col-md-4.project-box
      a(href='/welcome.html')
        .image
          img(src='/img/android-chrome-192x192.png')
        h3.title Welcome
        p.description App for that
        
    .col-xs-10.col-md-4.project-box
      a(href='/play.html')
        .image
          img(src='/img/android-chrome-192x192.png')
        h3.title Play
        p.description App for that
