section#work-section
  .row.section-header
    .col-md-5
      h4.section-title SELECTED PROJECTS
    .col-md-6
      h4.section-subtitle.black-6
        a(href='https://www.behance.net/rafael-medina' target='_blank').text-underline-1 View All
  
  .row.reverse
  
    .col-xs-10.col-md-10.project-box
      a(href='/welcome.html')
        //- .image
        //-   img(src='/img/android-chrome-192x192.png')
        h3.title Condominium
        p.description Prototyping as a discovery. Our hiccup with the design process had a secondary benefit: get the developers to prototype concept as soon as I designed them. 
        
  
    .col-xs-10.col-md-10.project-box
      a(href='/welcome.html')
        //- .image
        //-   img(src='/img/android-chrome-192x192.png')
        h3.title Cobblestone
        p.description Prototyping as a discovery. Our hiccup with the design process had a secondary benefit: get the developers to prototype concept as soon as I designed them. 
        
    .col-xs-10.col-md-10.project-box
      a(href='/play.html')
        //- .image
        //-   img(src='/img/android-chrome-192x192.png')
        h3.title Network Hotspost
        p.description Prototyping as a discovery. Our hiccup with the design process had a secondary benefit: get the developers to prototype concept as soon as I designed them. 
