section#work-section
  .container
    .row.work-line
      .col-md-6.col-xs-8
        h4.section-title SELECTED PROJECTS
  .container
    .row
      .col-xs-12.col-sm-12.col-md-6
        a(href='portfolio/condominium.md')
          .project-image
            img(src="img/preview/parla-text.jpg", alt="Condominium")
        .project-text
          //- h3.title.project-title config-webpack-plugin
          //- p.project-description Contributing designing Open Source plugin for the most popular front-end bundler
          //-   //- a(href='https://github.com/rmariuzzo/config-webpack-plugin').text-underline-1.color-3 See the project
          
      .col-xs-12.col-sm-12.col-md-6
        .protected
          .project-image.protected
            img(src="img/preview/condominium-text.jpg", alt="Condominium")
        .project-text
            //- h3.title.project-title Condominium
            //- p.project-description UX/UI Designer
            
    .row
      .col-xs-12.col-sm-12.col-md-12
        a(href='https://github.com/rmariuzzo/config-webpack-plugin' target="_blank")
          .project-image
            img(src="img/preview/config-wide.jpg", alt="Condominium")
        //- .project-text
        //-   h3.title.project-title config-webpack-plugin
        //-   p.project-description Contributing designing Open Source plugin for the most popular front-end bundler
        //- a(href='https://github.com/rmariuzzo/config-webpack-plugin').text-underline-1.color-3 See the project
          
        //- .col-xs-12.col-sm-12.col-md-6
        //-   .protected
        //-     .project-image.protected
        //-       img(src="img/preview/condominium-text.jpg", alt="Condominium")
        //- .project-text
            //- h3.title.project-title Condominium
            //- p.project-description UX/UI Designer
