section(role="main")#work-section
  .container
    .row
      .col-md-6.col-xs-8
        h2.section-title SELECTED PROJECTS
  hr
  .container
    .row
      .col-xs-12.col-sm-12.col-md-3
        a(href='work/clean-crm' target="_blank")
          .project-image
            img(src="img/preview/work-preview/work_preview-crm.jpg", alt="Condominium")
        .project-text
          p Manage all the customers on a cleaning service company based in NYC.
          a.project-description.color-6(href='work/clean-crm').text-underline-1.color-3 See case study
          
      .col-xs-12.col-sm-12.col-md-3
        a(href='work/condominium' target="_blank")        
          .project-image
            img(src="img/preview/work-preview/work_preview-condominium.jpg", alt="Condominium")
        .project-text
          p Condominim is a beautiful app to manage what matters the most, your community.
          a.project-description.color-6(href='work/condominium').text-underline-1.color-3 See case study

      .col-xs-12.col-sm-12.col-md-3
        a(href='https://www.starklabs.io/' target="_blank")        
          .project-image
            img(src="img/preview/work-preview/work_preview-stark.jpg", alt="Condominium")
        .project-text
          p Marketing site for a new custom top-notch Chatbot/Ai development agency.
          a.project-description.color-6(href='https://www.starklabs.io/').text-underline-1.color-3 Visit site
  
      .col-xs-12.col-sm-12.col-md-3
        a(href='work/webpack' target="_blank")        
          .project-image
            img(src="img/preview/work-preview/work_preview-webpack.jpg", alt="Condominium")
        .project-text
          p Contributing designing Open Source plugin for the most popular front-end bundle.
          a.project-description.color-6(href='https://github.com/rmariuzzo/config-webpack-plugin').text-underline-1.color-3 See case study
