section(role="main")#work-section
  //- .container
  //-   .row
  //-     .col-md-6.col-xs-8
  //-       h4.section-title SELECTED PROJECTS
  hr
  br
  br
  .container
    .row
      .col-lg-4.col-md-6
          a(href="{{site.baseurl}}/work/cleancrm/")
            img(src="img/preview/intro/cleancrm@2x.jpg", alt="").work-image
          h3 Clean CRM
          p.color-6 The "Cleaning CRM" project is an admin for a cleaning services startup where admins can manage each booking and client.
      .col-lg-4.col-md-6
          a(href="/work/parla/")
            img(src="img/preview/intro/parla@2x.jpg", alt="").work-image
          h3 Parla Mobile
          p.color-6 Parla is a native iOS application that works to take feedback from clients in an interactive way, giving points to the users.
      .col-lg-4.col-md-6
          a(href="/work/webpack/")
            img(src="img/preview/intro/config-webpack@2x.jpg", alt="").work-image
          h3 Config Webpack
          p.color-6 webpack-config-plugin is a webpack configuration plugin that helps you merge configuration files together with environment variables.
      .col-lg-4.col-md-6
          a(href="https://www.instagram.com/p/BOSwzjkD0qv/?taken-by=rafaelmedian", target="_blank")
            img(src="img/preview/intro/bravo@2x.jpg", alt="").work-image
          h3 Bravo.com
          p.color-6 Made a quick redesign concept of how my local supermarket online store could look like. Here is a landing page showcasing some of their products.  
      .col-lg-4.col-md-6
          a(href="/work/condominium/")
            img(src="img/preview/intro/condominim@2x.jpg", alt="").work-image
          h3 Condominim
          p.color-6 Condominium is a beautiful app to manage what matter the must, your community. A good neighborhood is one of the things in life that matter the most.
      .col-lg-4.col-md-6
          a(href="https://www.behance.net/gallery/42983515/Cobblestone", target="_blank")
            img(src="img/preview/intro/cobblestone@2x.jpg", alt="").work-image
          h3 Cobblestone
          p.color-6 Simplify your mortgage application development with the power of Cobblestone. A powerful and flexible API that allows your applications to communicate in any MISMO format.
  
  //- .list
  //-   hr
  //-   .container.work
  //-     a(href="work/condominium/")
  //-      .row.post
  //-        .col-xs-5.col-md-4.padding-left-0
  //-          h4.work-linehigh.circular.work-project-title Parla
  //-        .col-xs-4.col-md-offset-0.col-md-5.work-linehigh
  //-          h5.work-linehigh.work-project-subtitle Mobile App
  //-   hr
  //-   .container.work    
  //-     a(href="work/webpack/")
  //-      .row.post
  //-        .col-xs-5.col-md-4.padding-left-0
  //-          h4.work-linehigh.circular.work-project-title webpack
  //-        .col-xs-4.col-md-offset-0.col-md-5.work-linehigh
  //-          h5.work-linehigh.work-project-subtitle Web Design
  //- 
  //- hr
  //- .container.blocked
  //-   a
  //-    .row.post
  //-      .col-xs-6.col-md-4.padding-left-0
  //-        h4.work-linehigh.circular.work-project-title Fullstack
  //-      .col-xs-6.col-md-offset-0.col-md-8.work-linehigh
  //-        h5.work-linehigh.work-project-subtitle Coming soon!
  //- 
