.nav
  font-size: 1em
  list-style: none
  padding-left: 0
  margin-bottom: 0
  color: lighten($white, 90%)
  text-decoration: none
  margin-top: $header-padding
  margin-bottom: $header-padding

  li
    display: inline-block

  li + li
    margin-left: 6vw

.nav>li>a
  padding: 0 0


$breakpoint-tablet: 768px

$mq-mobile-landscape	: 480px !default

@media (max-width : $mq-mobile-landscape)
  .nav
    text-align: right
    margin-left: 0
    margin-right: 0
    padding: 0

    .nav>li>a
      padding: 0 2.2vw
