img
  margin: 2em auto
  max-width: 100%
  height: auto
  display: block

.img-box
  height: 500px
  background-color: #add2ff
  display: flex
  align-items: center

.project-photo
  margin-bottom: 1em

.project-text
  margin-bottom: 2vw

.project-title
  margin-bottom: 0
  font-size: 1.25em

.project-description
  font-size: 1.25em

.project-image
  transition: opacity .3s ease-in-out

.project-image:hover
  zoom: 1
  filter: alpha(opacity=50)
  opacity: .95

.protected
  cursor: not-allowed

.work-image
  &:hover a>div>div
    opacity: 0.10
  .post:hover > div
    opacity: 1

.work:active
  background-color: rgba(0, 0, 0, 0.2)

.work:hover
  opacity: .20

.work-image:hover
  opacity: 0.7

.blocked
  opacity: .2

/******* LIST *****/
.work
  white-space: nowrap

.work:hover
  cursor: pointer

.work-project-title
  font-size: 1.6em
  line-height: 1em

@media (max-width : $mq-mobile-landscape)
  .work-project-title
    font-size: 1.4em

.work-project-subtitle
  color: #676767
  font-size: 1.25em
  line-height: 1.26em

.tags
  content: " "
  display: table
  margin-bottom: 1.25rem

.tag
  display: block
  float: left

  color: rgba(#000, .4)
  font-weight: bold
  line-height: 1
  letter-spacing: .1em
  text-transform: uppercase

  padding: 0.25rem 0.6rem
  border-radius: .125rem
  margin-right: .45rem
  margin-bottom: .45rem

  border: solid 1px rgba(#000, .4)

.work-line
  border-bottom: 1px solid rgba(#000, .4)

.work-linehigh
  padding-top: 3em
  padding-bottom: 3em
