// img
//   margin: 0 auto
//   max-width: 100%
//   width: 80%
//   height: auto
//   display: block
//   margin-top: 1em

img
  margin: 0 auto
  max-width: 100%
  height: auto
  display: block
  margin-top: 1em

.project-text
  margin-bottom: 2vw

.project-title
  margin-bottom: 0
  font-size: 1.25em

.project-description
  font-size: 1em

.project-image
  transition: opacity .3s ease-in-out

.project-image:hover
  zoom: 1
  filter: alpha(opacity=50)
  opacity: .95

.protected
  cursor: not-allowed

.list
  &:hover a>div>div
    opacity: 0.10
  .post:hover > div
    opacity: 1

// .works:hover
//     opacity: .5

.blocked
  opacity: .2

/******* LIST *****/
.work
  white-space: nowrap
  h4
    font-size: 1.65em
  h5
    font-size: 1.25em

.work-project-title
  font-size: 1.6em

.work-project-subtitle
  color: #676767
  font-size: 1.25em

.work-line
  border-bottom: 1px solid rgba(#000, .4)

.work-linehigh
  line-height: 125px
