// *
//   border: 1px solid
// Selection colors (easy to forget)

*
  +transition(all, .2s)

\::selection
  background: $white

\::-moz-selection
  background: $white

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: $white

// Basic Styles

html,
body
  min-height: 100vh



body
  background: #111111
  font-size: 14px
  line-height: 1.6
  font-family: $Inconsolata, monospace
  color: lighten($white, 90%)
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  text-rendering: optimizeLegibility

@media (min-width: 992px)
  .col-md-2
    padding-left: 0

  .col-md-3
    padding-left: 0

  .col-md-6
    padding-left: 0
