// *
//   border: 1px solid
// Selection colors (easy to forget)

\::selection
  background: $black-9

\::-moz-selection
  background: $black-9

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: $black-6

// Basic Styles

html,
body
  min-height: 100vh

body
  background: $white
  font-size: 14px
  line-height: 1.6
  font-family: 'Roboto Mono',  monospace
  color: $black-1
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%

$font-name: "Circular Std"
$font-path-file-name: '../fonts/circular/CircularStd-Bold'

// font_name font
@font-face
  font-family: $font-name
  src: url( $font-path-file-name +'.eot')
  src: url( $font-path-file-name +'.eot?#iefix') format('embedded-opentype'), url($font-path-file-name+'.woff') format('woff'), url($font-path-file-name+'.ttf') format('truetype'), url($font-path-file-name+'.svg#font_name') format('svg')
