//Optionally Remove the Gutter Padding from Columns
//
// .no-gutter > [class*='col-']
//   padding-right:0
//   padding-left:0
//   background-color: #fa2

.no-gutter-left
  padding-left: 0

.no-gutter-right
  padding-right: 0



/******* LIST *****/
.bottom-line
  border-bottom: 1px solid #353535

.top-line
  border-top: 1px solid #353535

.linehigh-100
  line-height: 100px


.margin-top-10
  margin-top: 10px

.margin-0
  margin: 0

.margin-bottom-25
  margin-bottom: 25px

.margin-top-25
  margin-top: 25px

.bold
  font-weight: bold
