$white: #FFF
$black-0: #000000
$black-1: #111111
$black-6: #666666
$black-9: #999999


$transparent-grey: rgba(6, 8, 8, .1)
$text-selected: #545454

//urls
$header-logo-mask: url(../img/content/nav/header-logo-mask.png)


//Size
$header-padding: 25px




//fonts

$font-name: "Circular Std"
$font-path-file-name: '../fonts/circular/CircularStd-Bold'

// font_name font
@font-face
  font-family: $font-name
  src: url( $font-path-file-name +'.eot')
  src: url( $font-path-file-name +'.eot?#iefix') format('embedded-opentype'), url($font-path-file-name+'.woff') format('woff'), url($font-path-file-name+'.ttf') format('truetype'), url($font-path-file-name+'.svg#font_name') format('svg')

$roboto-mono: 'Roboto Mono'
$helvetica: HelveticaNeue-Light
$font_2: Helvetica Neue Light
$font_3: Helvetica Neue
$font_4: Helvetica
$font_5: Arial
$font_6: Lucida Grande
$font_7: sans-serif
