
$white: #FFF
$blue: #0062ff
$black-0: #000000
$black-1: #111111
$black-6: #666666
$black-9: #999999

$transparent-grey: rgba(6, 8, 8, .1)
$text-selected: #545454

//urls
$header-logo-mask: url(../img/content/nav/header-logo-mask.png)

//Size
$header-padding: 25px

//fonts
@import 'https://fonts.googleapis.com/css?family=Inconsolata'
// @import 'https://fonts.googleapis.com/css?family=Work+Sans:900'
@import 'https://fonts.googleapis.com/css?family=Poppins:700'

$SF-UI-Regular: "SF UI Regular"
$SF-UI-Bold: "SF UI Bold"
$Inconsolata: 'Inconsolata'
$Work-sans: "Work Sans"
$Poppins: "Poppins"
