#contact-section.section
  .row
    .col-md-12
      h2.section-title let's meet
  .row
    .col-md-5
      .follow-section
        p.title follow me on —
        a.sc-link(href='https://github.com/zxhadow', target='_blank') github, 
        a.sc-link(href='http://www.linkedin.net/rafaelmedinareyna', target='_blank') linkedin,
        br
        a.sc-link(href='https://www.behance.net/rafael-medina', target='_blank') behance
    .col-md-7
      .message-section
        p.title say hi —
        p.options
          | by email : hello@rafaelmedina.me
          br
          | or write me a message
